// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../../node_modules/ionic2-auto-complete/auto-complete";

ion-auto-complete {
  width: 100%;
  .searchbar-input-container {
    padding-left:5px;
    padding-right:5px;
  }
}

.background-image {
  background-color:red;
  background-image: url("https://i.imgur.com/MHZ9i44.jpg");
}

body {
-webkit-user-select: text;
-moz-user-select: text;
-ms-user-select: text;
user-select: text;
}

.toolbar-ios ion-title {
  padding-left:50px;
  padding-right:50px;
}

.customClass {
    background-color: white;
    border-radius: 5px;
    margin:5px;
}

.img-ul-image {
    margin:50px;
}

.img-ul-upload {
    background-color: #000 !important;
    width:100%;
}

.customClass .img-ul-clear {
  float:right;
}

.customClass .img-ul-drag-box-msg {
  color: white !important;
  overflow: hidden;
  width:0;  
  height:0;
}

.customClass .img-ul-container{
    background-color: white;
}


.desktopSlim{
/*    @media screen and (min-device-width: 611px){         
       width:50%;
       */
       margin-left:auto;
       margin-right:auto;
    /*}*/
    
}
simple-notifications{
 .simple-notification-wrapper {
  simple-notification{
   .poop{
    div.icon{
      top:-10px;
    }    

    div.sn-title{
     padding-bottom:0px;
    }    
    div.sn-content{
     padding-top:10px;
     font-size:12px;
    }    
   }
  }
 }
}

.toast-container {
 button {
  .button-inner::after {
     padding-left: 20px;
     font-family: "Ionicons";
     font-size:32px;
     content: "\f406";
  }
  .button-inner::before {
     font-family: "Ionicons";
     font-size:32px;
     color:white;
   }
 }
}

.dangerToast {
  > div {
     background-color:red!important;
  }
  .toast-container {
    .button-inner::before {
     content: "\f18f";
    }
  }  
}

.successToast {
  > div {
     background-color:green!important;
  }
  .toast-container {
    .button-inner::before {
     content: "\f255";
    }
  }  
}

.shadedInputField {
  background-color: color($colors,lighter,base);
}

.subHeader {
  background-color: color($colors,dark);
}

.card-background-page {
  
  ion-card {
    position: relative;
    text-align: center;
    img {
     opacity : .3;
    }
  }

  .card-title {
    position: absolute;
    top: 36%;
    //font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: black;
  }

  .card-title-desktop {
    font-size: 1.5em;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: black;
  }
}

img-loader {
  img {
    margin-left:auto;
    margin-right:auto;
  }
}

.pss-avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
