<div class="chatitem" ng-if='credentials.is_logged_in("pss_admin")==false'>
  <center>
    <h2>Please Log In</h2>
    or
    <h2><a ui-sref="app.register_new_pss_user">Get a Pss Event Creator account</a></h2>
  </center>
  
</div>      
<div class="chatitem list" ng-if='credentials.is_logged_in("pss_admin")==true'>
  <div class="item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model='filter_for'>
    </label>
  </div>
  <ion-item ui-sref='app.pss_admin.create_event' class='item item-icon-left'>      <i class='icon ion-plus-circled'></i>Create Event</ion-item>
  <div class='padding'></div>
  <!--<div ui-view='list'>
      </div>-->
  <test-binding my-attribute="{test:'value'}"></test-binding>
  <pss-generic-binding-list items-to-list='items' filter-to-apply="eventSearch" poop="one" poop="two"> </pss-generic-binding-list>

</div>      




