<div class="chatitem" ng-if='credentials.is_logged_in("pss_admin")==false'>
  <center>
    <h2>Please Log In</h2>
    or
    <h2><a ui-sref="app.register_new_pss_user">Get a Pss Event Creator account</a></h2>
  </center>
  
</div>      
<div ng-if='credentials.is_logged_in("pss_admin")==true'>
  <ion-item ui-sref='app.pss_admin.create_event' class='item item-icon-left'>      <i class='icon ion-plus-circled'></i>Create Event</ion-item>
</div>

<div class="chatitem list" ng-if='credentials.is_logged_in("pss_admin")==true && items.length>0'>
  <div class="tabs-top tabs-striped">
    <div class="tabs">
      <a ng-click="toggle_tab()" ng-class='{"tab-item":true,"active":active_tab>0}'>
        {{items[0].event_name}}
      </a>
      <a ng-click="toggle_tab()" ng-class="{'tab-item':true,'active':active_tab<0}">
        Previous Events
      </a>
    </div>
    <div class='padding'></div>
    <div class='padding'></div>
    <div class='padding'></div>
    <div class='padding'></div>
    <div class='padding'></div>
    <div ng-if='active_tab==1'>
      <center>
        <img src='{{items[0].img_url}}' class='padding circular--square' style='opacity:.5;height:110px;width:110px' ng-if='items[0].img_url!=undefined'>
      </center>
      <div class='card'>  
        <ion-item ui-sref='app.pss_admin.quick_create_tournament({event_id:items[0].event_id})' class='item item-icon-left'><i class='icon ion-plus-circled'></i>QuickCreate Tournament</ion-item>
        <ion-item ui-sref='app.pss_admin.quick_create_users_existing({event_id:items[0].event_id,target_event_name:items[0].event_name,event_role_name:"scorekeeper"})' class='item item-icon-left'><i class='icon ion-plus-circled'></i>Register scorekeepers</ion-item>
        <ion-item ui-sref='app.pss_admin.quick_create_users_existing({event_id:items[0].event_id,target_event_name:items[0].event_name,event_role_name:"deskworker"})' class='item item-icon-left'><i class='icon ion-plus-circled'></i>Register desk workers</ion-item>
        <ion-item ui-sref='app.pss_admin.quick_create_users_existing({event_id:items[0].event_id,target_event_name:items[0].event_name,event_role_name:"tournament_director"})' class='item item-icon-left'><i class='icon ion-plus-circled'></i>Register tournament directors</ion-item>        
        <ion-item class='item item-icon-left' ui-sref='app.pss_admin.edit_event_basic({id:items[0].event_id})'><i class='icon ion-plus-circled'></i>Edit Event</ion-item>  
        <ion-item ng-click='popoverOtherSiteClick("admin",items[0].event_name)' class='item item-icon-left'><i class='icon ion-plus-circled'></i>Login to Event</ion-item>
        <ion-content delegate-handle="tournamentlist" scrollbar-y="false" scrollbar-x="true" direction="x" class='item item-divider pooping'>
          <button style='margin:5px' ng-click='scrollCheck()' class='button button-small button-clear button-dark'> Tournaments :  </button>
          <button ng-repeat='tournament in tournaments' style='margin:5px' ng-click='scrollCheck()' class='button button-small' ng-if='items[0].event_id==tournament.event_id' >{{tournament.tournament_name}}</button>        
        </ion-content>
      </div>
    </div>
  </div>
</div>  

<!--<pss-generic-binding-list items-to-list='items' filter-to-apply="eventSearch" poop="one" poop="two"> </pss-generic-binding-list>-->
