<ion-view view-title="">
  <ion-content>      
    <div class="skinny-list list">
      <div class="item-divider item" id='add_user_user_info_title'>
        Player Info
      </div>
      <div class='item row padding-vertical'>
        <div style='text-align:right' class='col padding-vertical'>
          Name : 
        </div>
        <div style='text-align:left' class='col padding-vertical'>
          {{resources.player.data.first_name}} {{resources.player.data.last_name}}
        </div>        
      </div>
      <div class='item row padding-vertical'>
        <div style='text-align:right' class='col padding-vertical'>
          ID # : 
        </div>
        <div class='col padding-vertical' style='text-align:left'>
          {{resources.player.data.player_id}}          
        </div>        
      </div>
      <div class='item row padding-vertical'>
        <div style='text-align:right' class='col padding-vertical'>
          PIN # : 
        </div>
        <div class='col padding-vertical' style='text-align:left'>
          {{resources.player_pin.data}} 
        </div>        
      </div>
      <div class='item row padding-vertical'>
        <div style='text-align:right' class='col padding-vertical'>
          Main Division : 
        </div>
        <div class='col padding-vertical' style='text-align:left'>
          {{resources.player.data.linked_division_name}}
        </div>
      </div>
      <div ng-if='resources.player.data.division_machine != undefined' class='item row padding-vertical'>
        <div style='text-align:right' class='col padding-vertical'>
          Currently Playing : 
        </div>
        <div class='col padding-vertical' style='text-align:left'>
          {{resources.player.data.division_machine.division_machine_name}}
        </div>
      </div>
      
      <div class="item-divider item" id='add_user_user_info_title'>
        Player Tickets
      </div>
      <div ng-repeat='(type_of_div,divs) in resources.player_tokens.data.tokens'>
        <div class='item row' ng-repeat='(div_id,div_tokens) in divs'>
          <div style='text-align:right' class='col padding-vertical'>
            <span ng-if='type_of_div == "divisions"'>{{resources.divisions.data[div_id].tournament_name}} : </span> 
            <span ng-if='type_of_div == "teams"'>{{resources.divisions.data[div_id].tournament_name}} : </span> 
            <span ng-if='type_of_div == "metadivisions"'>{{resources.divisions.data.metadivisions[div_id.toString()].meta_division_name}} : </span>  
            
          </div>
          <div class='col padding-vertical' style='text-align:left'>
            {{div_tokens}}
          </div>        
        </div>
      </div>
      <div class='item row padding-vertical'>
        <div style='text-align:right' class='col'>
        </div>
        <div class='col' style='text-align:left'>
        </div>        
      </div>

      
    </div>
  </ion-content>
</ion-view>

