<ion-view view-title="Queueing" hide-back-button="true">
  <ion-content>      
    <div class="skinny-list list">

      <a ng-if='division_machine.player_id != undefined || (division_machine.player_id == undefined && division_machine.queue_id != undefined)' class="item item-icon-right" ng-repeat='division_machine in resources.division_machines.data' ui-sref='.confirm({division_machine_to_queue_on_id:division_machine.division_machine_id,division_machine_to_queue_on_name:division_machine.division_machine_name})'>
        <span>{{division_machine.division_machine_name}}</span>
        <i class='icon ion-chevron-right'></i>
      </a>
      <button class="button button-full button-calm item-icon-right" ui-sref='^.scorekeeping.machine_select({division_id:division_id})'>
        <span>Return to machine list</span>
        <i class='icon ion-chevron-right'></i>        
      </button>
      
    </div>
  </ion-content>
</ion-view>

