<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
    <ion-buttons end hideWhen="mobile">
      <button icon-only ion-button [navPush]="'EventSelectPage'">Switch Events</button>    
      <button icon-only ion-button [navPush]="destPageAfterSuccess" [navParams]='buildNavParams({})'>Home</button>    
    </ion-buttons>
  </ion-navbar>
</ion-header>
<simple-notifications  [options]="{position:['top','right']}"></simple-notifications>
<ion-content padding>
  <form #myForm="ngForm">
    <ion-item>
    <ion-label>Role</ion-label>
    <ion-select name="myeventrole" [(ngModel)]="selectedRole" required>
      <ion-option *ngFor="let role of roles" [value]="role">{{role.event_role_name}}</ion-option>
    </ion-select>
    </ion-item>
    <ion-item>
    </ion-item>
    <!--<ion-auto-complete [disabled]="selectedRole==null" name="myautocomplete" [(ngModel)]="selectedUser" #searchbar (autoFocus)="onFocus()" (ionAutoInput)="onInput($event)" (itemSelected)="onSelect($event)" [dataProvider]="autoCompleteProvider" [options]="{ placeholder : 'Enter name', debounce:500}"></ion-auto-complete>-->
    <ion-auto-complete (keyup)="onKeyUp($event)"  name="myautocomplete" [(ngModel)]="selectedPlayer" #searchbar (autoFocus)="onFocus()" (itemSelected)="onSelect($event)" [dataProvider]="autoCompleteProvider" [options]="{ placeholder : 'Enter Name', debounce:500}"></ion-auto-complete>
  <div text-center margin-bottom [style.height]="'25px'">
    <ion-spinner *ngIf='loading==true' style='margin-bottom:7px'></ion-spinner>
  </div>


  </form>
  <div *ngIf='selectedRole==null' text-center padding>
    Please select a role!
  </div>
  <div *ngIf='notFoundMessage!=null && selectedRole!=null' text-center padding>        
    The system does not know about {{this.searchbar.keyword}}.  Click the button below to register them for the event.
    <br>
    <button [disabled]='!myForm.valid' ion-button margin (click)="onSubmit(this.searchbar.keyword)">Register User</button>
    
  </div>
  
</ion-content>
