<ion-view view-title="Tickets Purchased">
  <ion-content>      
    <div class='icon-label-header row first-element'>
      <div><i class="icon ion-plus-circled"></i></div>
      <div>Tickets Purchased</div>
    </div>
    <div class='skinny-list skinny-list-results'>
      <div class='row item' ng-repeat='(div_id,count) in resources.added_tokens.data.divisions'>
        <div style='text-align:right;padding-right:15px' class='col'>{{resources.divisions.data[div_id].tournament_name}}</div>
        <div class='col'> : {{count}} Tickets</div>
      </div>
      
      <div class='row item' ng-repeat='(metadiv_id,count) in resources.added_tokens.data.metadivisions'>
        <div style='text-align:right;padding-right:15px' class='col'>{{resources.divisions.data.metadivisions[metadiv_id].meta_division_name}}</div>
        <div class='col'> : {{count}} Tickets</div>
      </div>        
    </div>    
    <center>
      <a id='AddAnotherUser' class='button button-large button-positive tablet-friendly-button' ui-sref='.^.^.^({site:site})'>
        <span>Purchase More Tickets</span>
      </a>
    </center>
  </ion-content>
</ion-view>


