<ion-view view-title="Tickets Purchased" hide-back-button="true">
  <ion-content>      
      <center>
        <div class='standard_big_font'>
          <button class='button button-clear button-dark icon-left ion-cash ion-icon-green review-icon' >            
              <span><u>Tickets Purchased</u></span>
          </button>

          <!--<div class='padding'><u><i class="icon ion-cash padding"></i><span>Tickets Purchased</u></span></div>-->
          <table>
            <tr ng-if='token_count > 0' ng-repeat='(division_id,token_count) in resources.added_tokens.data.divisions'>
              <td class='padding-right' align="right">
                {{resources.divisions.data[division_id].tournament_name}} : 
              </td>
              <td class='padding-left'>
                {{token_count}}
                <span ng-if='token_info.comped!=true'>
                  <span ng-if="resources.added_tokens.data.divisions_count[division_id].discount_count!=undefined">({{resources.added_tokens.data.divisions_count[division_id].discount_count}}
                    ${{resources.divisions.data[division_id].discount_ticket_price}},
                    {{resources.added_tokens.data.divisions_count[division_id].normal_count}}
                    ${{resources.divisions.data[division_id].local_price}})</span>
                </span>
              </td>
            </tr>
            <tr ng-if='token_count > 0' ng-repeat='(division_id,token_count) in resources.added_tokens.data.teams'>
              <td class='padding-right' align="right">
                {{resources.divisions.data[division_id].tournament_name}} : 
              </td>
              <td class='padding-left'>
                {{token_count}}
              </td>
            </tr>
            <tr ng-if='token_count > 0' ng-repeat='(metadivision_id,token_count) in resources.added_tokens.data.metadivisions'>
              <td class='padding-right' align="right">
                {{resources.divisions.data.metadivisions[metadivision_id].meta_division_name}} : 
              </td>
              <td class='padding-left'>
                {{token_count}}
                <span ng-if='token_info.comped!=true'>({{resources.added_tokens.data.metadivisions_count[metadivision_id].discount_count}} discount, {{resources.added_tokens.data.metadivisions_count[metadivision_id].normal_count}} normal)</span>
              </td>
            </tr>
            <tr style='border-style:solid;border-width:0;border-top-width:1px;'>
              <td class='padding-right' align='right'>
                Total Cost : 
              </td>
              <td class='padding-left'>
                <span ng-if='token_info.comped!=true'>${{total_cost}}</span>
                <span ng-if='token_info.comped==true'>COMPED</span>
              </td>
            </tr>            
          </table>
          <br>
          <button id='HomeButton' class='button button-full button-calm seperate_button item-icon-right' ui-sref='.^.^.^({site:site})'>
            <span>Purchase More Tickets</span>
            <i class="icon ion-chevron-right"></i>          
          </button>
          <button id='HomeButton' class='button button-full button-calm seperate_button item-icon-right' ui-sref='app({site:site,hide_back_button:true})'>
            <span>Home</span>
            <i class="icon ion-chevron-right"></i>          
          </button>
          
        </div>
      </center>
    <!-- <div class='icon-label-header row first-element'> -->
    <!--   <div><i class="icon ion-plus-circled"></i></div> -->
    <!--   <div>Tickets Purchased</div> -->
    <!-- </div> -->
    <!-- <div class='skinny-list skinny-list-results'> -->
    <!--   <div class='row item' ng-repeat='(div_id,count) in resources.added_tokens.data.divisions'> -->
    <!--     <div style='text-align:right;padding-right:15px' class='col'>{{resources.divisions.data[div_id].tournament_name}}</div> -->
    <!--     <div class='col'> : {{count}} Tickets</div> -->
    <!--   </div> -->
    <!--   <div class='row item' ng-repeat='(div_id,count) in resources.added_tokens.data.teams'> -->
    <!--     <div style='text-align:right;padding-right:15px' class='col'>{{resources.divisions.data[div_id].tournament_name}}</div> -->
    <!--     <div class='col'> : {{count}} Tickets</div> -->
    <!--   </div> -->
      
    <!--   <div class='row item' ng-repeat='(metadiv_id,count) in resources.added_tokens.data.metadivisions'> -->
    <!--     <div style='text-align:right;padding-right:15px' class='col'>{{resources.divisions.data.metadivisions[metadiv_id].meta_division_name}}</div> -->
    <!--     <div class='col'> : {{count}} Tickets</div> -->
    <!--   </div>         -->
    <!-- </div>     -->
    <!-- <center> -->
    <!--   <a id='AddAnotherUser' class='button button-large button-positive tablet-friendly-button' ui-sref='.^.^.^({site:site})'> -->
    <!--     <span>Purchase More Tickets</span> -->
    <!--   </a> -->
    <!-- </center> -->
  </ion-content>
</ion-view>


