<ion-view view-title="Review Tickets">
  <ion-content>      
    <center>
      <div class="standard_big_font warning_confirm warning_confirm_two_row_table">
          <button class='button button-clear button-dark icon-left ion-alert-circled ion-icon-yellow review-icon' >            
            <span><u>Review Before Purchase</u></span>
          </button>
          <table>
            <tr ng-if='token_count[0] != 0' ng-repeat='(division_id,token_count) in token_info.divisions'>
              <td class='padding-right' align="right">
                {{token_info.divisions_names[division_id]}} : 
              </td>
              <td class='padding-left'>
                {{token_count[0]}} Ticket<span ng-if="token_count[0] > 0">s</span> <span ng-if='token_info.comped==true'> (COMPED) </span>
              </td>
            </tr>
            <tr ng-if='token_count[0] != 0' ng-repeat='(division_id,token_count) in token_info.teams'>
              <td class='padding-right' align="right">
                {{token_info.divisions_names[division_id]}} : 
              </td>
              <td class='padding-left'> 
                {{token_count[0]}} Ticket<span ng-if="token_count[0] > 0">s</span> <span ng-if='token_info.comped==true'> (COMPED) </span>
              </td>
            </tr>
            <tr ng-if='token_count[0] != 0' ng-repeat='(metadivision_id,token_count) in token_info.metadivisions'>
              <td class='padding-right' align="right">
                {{token_info.metadivisions_names[metadivision_id]}} : 
              </td>
              <td class='padding-left'>
                {{token_count[0]}} Ticket<span ng-if="token_count[0] > 0">s</span> <span ng-if='token_info.comped==true'> (COMPED) </span>
              </td>
            </tr>
            <tr style='border-style:solid;border-width:0;border-top-width:1px;'>
              <td class='padding-right' align='right'>
                Total Cost : 
              </td>
              <td class='padding-left'>
                <span ng-if='token_info.comped!=true'>${{token_info.total_cost}}</span>
                <span ng-if='token_info.comped==true'>COMPED</span>                
              </td>
            </tr>
          </table>
        </div>
        
        <button id='HomeButton' class='button button-full button-calm item-icon-right seperate_button' ng-click="create_tickets()">
          <span>Purchase Tickets</span>
          <i class="icon ion-chevron-right"></i>          
        </button>
      </center>
  </ion-content>
</ion-view>

