<ion-view view-title="Review Tickets">
  <ion-content>      
      <center>
        <div class='standard_big_font'>
          <button class='button button-clear button-dark icon-left ion-alert-circled ion-icon-yellow review-icon' >            
              <span><u>Review</u></span>
          </button>
          <table>
            <tr ng-repeat='(division_id,token_count) in token_info.divisions'>
              <td class='padding-right' align="right">
                {{token_info.divisions_names[division_id]}} : 
              </td>
              <td class='padding-left'>
                {{token_count[0]}} <span ng-if='token_info.comped==true'> (COMPED) </span>
              </td>
            </tr>
            <tr ng-repeat='(division_id,token_count) in token_info.teams'>
              <td class='padding-right' align="right">
                {{token_info.divisions_names[division_id]}} : 
              </td>
              <td class='padding-left'> 
                {{token_count[0]}} <span ng-if='token_info.comped==true'> (COMPED) </span>
              </td>
            </tr>
            <tr ng-repeat='(metadivision_id,token_count) in token_info.metadivisions'>
              <td class='padding-right' align="right">
                {{token_info.metadivisions_names[metadivision_id]}} : 
              </td>
              <td class='padding-left'>
                {{token_count[0]}} <span ng-if='token_info.comped==true'> (COMPED) </span>
              </td>
            </tr>
            <tr style='border-style:solid;border-width:0;border-top-width:1px;'>
              <td class='padding-right' align='right'>
                Total Cost : 
              </td>
              <td class='padding-left'>
                ${{token_info.total_cost}}
              </td>
            </tr>
          </table>
          <br>
          <button id='HomeButton' class='button button-full button-calm item-icon-right seperate_button' ng-click="create_tickets()">
            <span>Purchase Tickets</span>
            <i class="icon ion-chevron-right"></i>          
          </button>
        </div>
      </center>

    <!-- <div class="skinny-list list" style='margin-left:0;margin-right:0'> -->
    <!--   <div class="item-divider item" id='add_user_user_info_title'> -->
    <!--     Review Before Purchase  -->
    <!--   </div>   -->
    <!--   <div class='item' ng-repeat='(division_id,token_count) in token_info.divisions' align='left' > {{token_info.divisions_names[division_id]}} : {{token_count}} <span ng-if='token_info.comped==true'> (COMPED) </span>  </div> -->
    <!--   <div class='item' ng-repeat='(division_id,token_count) in token_info.teams' align='left' > {{token_info.divisions_names[division_id]}} : {{token_count}} <span ng-if='token_info.comped==true'> (COMPED) </span> </div> -->
      
    <!--   <div class='item' ng-repeat='(metadivision_id,token_count) in token_info.metadivisions' align='left' > {{token_info.metadivisions_names[metadivision_id]}} : {{token_count}} <span ng-if='token_info.comped==true'> (COMPED) </span> </div> -->
    <!--   <button style='font-size:38px;line-height:38px' class="button button-full button-positive icon-right ion-chevron-right" ng-click="create_tickets()"> -->
    <!--     Purchase Tickets -->
    <!--   </button>     -->
      
    <!-- <\!-- ui-sref=".confirm({token_info: ,})" -\->     -->
  </ion-content>
</ion-view>

