<!--<bobo>-->
<ion-header>
<ion-navbar>  
    <ion-title showWhen='mobile'>
      {{title}}
    </ion-title>    
  <ion-title hideWhen='mobile'>Pss</ion-title>
  <ion-buttons end hideWhen='mobile'>
    <button icon-only ion-button [navPush]="eventAuth.isEventUserLoggedIn(eventId)? 'LogoutPage' : 'LoginPage'" [navParams]="buildNavParams({})" >{{eventAuth.isEventUserLoggedIn(eventId)? "Logout" : "Login"}}</button>
    <button icon-only ion-button [navPush]="'EventSelectPage'">Switch Events</button>    
    <button [navPush]="'ResultsPage'" icon-only ion-button>Results</button>
    <button icon-only ion-button>Queues</button>
    <button *ngIf="eventAuth.getRoleName(eventId)" icon-only ion-button [navPush]="getHomePageString()" [navParams]="buildNavParams({})">{{eventAuth.getRoleName(eventId)}}</button>
  </ion-buttons>
</ion-navbar>
</ion-header>
<!--</bobo>-->

<ion-content>
  <ion-list>
    <ion-list-header>Jump To...
      <ion-icon item-end name="cog" (click)="reorderEnabled = reorderEnabled==false"></ion-icon>
    </ion-list-header>    
      <button ion-item detail-push [navPush]="eventAuth.isEventUserLoggedIn(eventId)? 'LogoutPage' : 'LoginPage'" [navParams]="buildNavParams({})">
        <ion-icon name="person" item-end></ion-icon>{{eventAuth.isEventUserLoggedIn(eventId)==true? "Logout" : "Login"}}
      </button>
      <button ion-item detail-push (click)="pushRootPage('EventSelectPage')">
        <ion-icon name="md-git-compare" item-end></ion-icon>Switch Event
      </button>
      <ion-item-divider>
        Tournaments
      </ion-item-divider>
      
      <ion-item-group [reorder]="reorderEnabled" (ionItemReorder)="reorderTournamentItems($event,'tournamentItems')">      
        <button *ngFor="let item of tournamentItems"  ion-item detail-push>{{item.title}}<ion-icon [name]="item.icon" item-end></ion-icon></button>
      </ion-item-group>
      <ion-item-divider>
        Favorited Machines
      </ion-item-divider>
      <ion-item-group [reorder]="reorderEnabled" (ionItemReorder)="reorderMachineItems($event)">      
        <button *ngFor="let item of tournamentMachines"  ion-item detail-push>{{item.tournamentMachineName}}<ion-icon [name]="item.icon" item-end></ion-icon></button>
      </ion-item-group>
      
  </ion-list>

</ion-content>
