 <ion-modal-view>
    <ion-header-bar class="bar-calm">
      <h1 class="title">Please Pay Attention</h1>
    </ion-header-bar>
    <div >
      <center style='padding-top:100px'>
        <div class='standard-big-font' ng-if='isArray == false'>
          {{message}}
        </div>
        <div class='standard-big-font' ng-if='isArray == true'>
          <div ng-repeat='message_line in message track by $index'>
            {{message_line}}
            <br>
          </div>
        </div>        
      <div>
        <button style='margin-top:25px' class='button' ng-click='information_modal.remove()'>Ok</button>
      </div>
      </center>
      <span id='error_present'>
      </span>
    </div>
 </ion-modal-view>
