<div>
  <div class="card">
    <div class="item item-divider">
      Welcome to PAPA 20 Pre-Registration 
    </div>
    <div class="item item-text-wrap">
      This app will allow you to pre-register for PAPA 20.<br><br>
      You will be asked to:
      <p>
      <ul class='padding-left'>
        <li> Enter your information.
        <li> Upload a picture of your face.
        <li> Pay the pre-registration fee of $100 (see
          <a ng-if='isWebView == false' href="static/prereg-cost-explanation.html" target="_new_window"> here</a> <a ng-if='isWebView == true' ng-click='utils.native_open_in_browser("/td/static/prereg-cost-explanation.html")'> here</a>
          for what that buys you).
      </ul>
      </p>
      <br><br>
      If you experience any problems<br>
      or have any questions, please email<br>
      prereg@papa.org
      <br><br>
      <button style='float:left;margin-bottom:25px;margin-top:25px' ui-sref='app({site:site})' class='button button-calm'> Home </button>
      <button style='float:right;margin-bottom:25px;margin-top:25px' ui-sref='.step1' class='button button-calm'> Begin! </button>
    </div>
  </div>
</div>
