<ion-view view-title="Add Player">
  <ion-content>      
    <div class="skinny-list list">
      <div class="item-divider item" id='add_user_user_info_title'>
        Player Info
      </div>
      <label  class="item-input item">
        <span>First Name : </span>
        <input ng-model='player_info.first_name' type="text" placeholder="First Name">
      </label>

      <label class="item-input item">
        <span>Last Name : </span>
        <input class="myinput" ng-model='player_info.last_name' type="text" placeholder="Last Name" />
      </label>
      <div style='padding:0px' class='item row'>
        <div class='col-33'>
          <label class='item' style='border-width:0px'>Playing In</label>
        </div>
        <div class='col' style='padding:0px'>
          <ion-radio  id="add_player_linked_division_{{division.division_name}}" class='item' style='border-width:0px' ng-model="player_info.linked_division_id" ng-repeat='division in main_divisions' ng-value="division.division_id"> {{division.division_name}}</ion-radio>          
        </div>
      </div>
      <a ng-if='is_native == true' class="item item-icon-right item-calm" style='text-align:left' ng-click='take_pic_and_upload("player",player_info)'>
        <i class="icon ion-camera"></i>
        <span >Take Picture</span>
        <!--    <img align="bottom" src="" class="avatar-frame-small" style='margin-left:100%'>-->
<!--        <img ng-if='player_info.has_picture==true' align="bottom" class="avatar-frame-small" style='float:right;margin-right:48px'> -->
      </a>

      <button id='add_player_get_ifpa_ranking' class="button-full item item-icon-right item-calm" style='text-align:left;maring-top:0px' ng-click='get_ifpa_ranking()' ng-disabled='player_info.first_name==undefined && player_info.last_name==undefined'>
        <i class="icon ion-search"></i>
        <span >Lookup Ifpa Ranking <span id="add_player_ifpa_ranking" ng-if='player_info.ifpa_result.result.wppr_rank' != undefined'>({{player_info.ifpa_result.result.wppr_rank}})</span></span>
      </button>
      <button id="add_player_add_button" ui-sref='.process({process_step:{process:true}, player_info:player_info})' class="item-icon-right button button-full button-calm input-list-button" style='text-align:left' ng-disabled='form_not_ready_for_submit()'>
        
        <i class="icon ion-chevron-right"></i>
        <span >Add Player</span>
      </button>
    </div>
  </ion-content>
</ion-view>

