<ion-view view-title="Ticket Selection">
  <ion-content>      
    <div class="skinny-list list" style='margin-left:0;margin-right:0'>
      <div class="item-divider item" id='add_user_user_info_title'>
        Existing Tickets
      </div>  
      <div class='item' ng-repeat='(division_id,token_count) in resources.player_tokens.data.tokens.divisions' align='left' >{{resources.divisions.data[division_id].tournament_name}} : {{token_count}}</div>
      <div class='item' ng-repeat='(metadivision_id,token_count) in resources.player_tokens.data.tokens.metadivisions' align='left' >{{resources.divisions.data.metadivisions[metadivision_id].meta_division_name}} : {{token_count}}</div>
      <div class='item' ng-repeat='(division_id,token_count) in resources.player_tokens.data.tokens.teams' align='left' >{{resources.divisions.data[division_id].tournament_name}} : {{token_count}}</div>
      <div class="item-divider item" id='add_user_user_info_title'>
        Purchase Tickets
      </div>
      <label ng-if='division.team_tournament == false && division.meta_division_id == null && token_info.divisions[division_id] != undefined' ng-repeat='(division_id,division) in resources.divisions.data' class="item item-input item-select">
        <div class="input-label">
          {{resources.divisions.data[division_id].tournament_name}}
        </div>

        <select ng-change='calc_total_cost()' ng-model="token_info.divisions[division_id]" ng-options="option for option in []|range:resources.player_tokens.data.available_tokens.divisions[division_id]+1 track by option">          
          <!--<option ng-repeat="option in []|range:resources.player_tokens.data.available_tokens.divisions[division_id]+1:0" value="{{option}}">{{option}}</option>-->
          
        </select>
      </label>
      <label ng-repeat='(metadivision_id,metadivision) in resources.divisions.data.metadivisions' class="item item-input item-select">
        <div class="input-label">
          {{resources.divisions.data.metadivisions[metadivision_id].meta_division_name}}
        </div>
        <select ng-change='calc_total_cost()' ng-model="token_info.metadivisions[metadivision_id]" ng-options="option for option in []|range:resources.player_tokens.data.available_tokens.metadivisions[metadivision_id]+1:0 track by option">          
          
        </select>
      </label>      
      <label ng-if='division.team_tournament == true && token_info.teams[division_id] != undefined' ng-repeat='(division_id,division) in resources.divisions.data' class="item item-input item-select">
        <div class="input-label">
          {{resources.divisions.data[division_id].tournament_name}}
        </div>

        <select ng-change='calc_total_cost()' ng-model="token_info.teams[division_id]" ng-options="option for option in []|range:resources.player_tokens.data.available_tokens.teams[division_id]+1 track by option">          
          
        </select>
      </label>
      

      <!-- <div ng-if='division.team_tournament == false && division.meta_division_id == null' class='item' ng-repeat='(division_id,division) in resources.divisions.data' align='left' >{{resources.divisions.data[division_id].tournament_name}} : {{token_count}} -->
      <!--   <select ng-change='calc_total_cost()' name="repeatSelect" id="repeatSelect" ng-model="token_info.divisions[division_id]"> -->
      <!--     <option ng-repeat="option in []|range:resources.player_tokens.data.available_tokens.divisions[division_id]+1:0" value="{{option}}">{{option}}</option> -->
      <!--   </select> -->
      <!-- </div> -->
      <!-- <div class='item' ng-repeat='(metadivision_id,metadivision) in resources.divisions.data.metadivisions' align='left' >{{resources.divisions.data.metadivisions[metadivision_id].meta_division_name}} : -->
      <!--   <select ng-change='calc_total_cost()' name="repeatSelect" id="repeatSelect" ng-model="token_info.metadivisions[metadivision_id]"> -->
      <!--     <option ng-repeat="option in []|range:resources.player_tokens.data.available_tokens.metadivisions[metadivision_id]+1:0" value="{{option}}">{{option}}</option> -->
      <!--   </select> -->
      <!-- </div> -->
      <!-- <div ng-if='team_division.team_tournament == true' class='item' ng-repeat='(division_id,team_division) in resources.divisions.data' align='left' >{{resources.divisions.data[division_id].tournament_name}} : -->
      <!--   <select ng-change='calc_total_cost()' name="repeatSelect" id="repeatSelect" ng-model="token_info.teams[division_id]"> -->
      <!--     <option ng-repeat="option in []|range:resources.player_tokens.data.available_tokens.teams[division_id]+1:0" value="{{option}}">{{option}}</option> -->
      <!--   </select> -->

      <!-- </div>       -->
      <div class="item-divider item" id='add_user_user_info_title'>
        Total Cost : {{token_info.total_cost}}
      </div>
      <button  class="button button-full button-positive icon-right ion-chevron-right" ui-sref=".confirm({token_info:token_info})">
      Review Purchase
    </button>    
    </div>    
    <!-- ui-sref=".player_token({})" -->    
  </ion-content>
</ion-view>

