<ion-view view-title="login"  hide-back-button='true' >
  <ion-content>
    <div class="list">
      <label class="item item-input tablet-friendly-input">
        <input ng-model='user.username' type="text" placeholder="Username">
      </label>
      <label class="item item-input  tablet-friendly-input">
        <input ng-model='user.password' type="text" placeholder="Password">
      </label>
    </div>
    <a class="button icon-right ion-chevron-right tablet-friendly-button" ui-sref='.process({user_info:user})'><span class='tablet-friendly-button-text'>Login</span></a>
  </ion-content>
</ion-view>

