<ion-view view-title="Purchase Tickets">
  <ion-content>
    <div class='avatar-label'>
      <table style='width:100%;font-size:20px'>
        <tr>
          <td style='width:33%;vertical-align:middle'><div align='right' style='margin-top:auto;margin-bottom:auto' class='ticket_purchase_summary_font'>{{resources.player_tokens.data.player.first_name}} {{resources.player_tokens.data.player.last_name}}</div></td>
          <td style='width:33%;'><center><img class='avatar-user-pic-relative' src="http://{{server_ip_address}}/pics/player_{{player_id}}.jpg"></center></td>
          <td style='width:33%;vertical-align:middle'>

            <div class='ticket_purchase_summary_font' ng-repeat='(division_id,token_count) in resources.player_tokens.data.tokens.divisions' align='left' >{{resources.divisions.data[division_id].tournament_name}} : {{token_count}}</div>
            <div class='ticket_purchase_summary_font' ng-repeat='(metadivision_id,token_count) in resources.player_tokens.data.tokens.metadivisions' align='left' >{{resources.divisions.data.metadivisions[metadivision_id].meta_division_name}} : {{token_count}}</div>
            <div class='ticket_purchase_summary_font' ng-repeat='(division_id,token_count) in resources.player_tokens.data.tokens.teams' align='left' >{{resources.divisions.data[division_id].tournament_name}} : {{token_count}}</div>
          </td>
        </tr>
      </table>
    </div>
    <div class="skinny-list list" style='margin-left:0;margin-right:0'>
      <div class="item-divider item" id='add_user_user_info_title'>
        Purchase Tickets
      </div>
      <ion-checkbox id="token_select_comped_checkbox" class='item' ng-model='token_info.comped' >Comped</ion-checkbox>
      
      <label ng-if='division.team_tournament == false && division.meta_division_id == null && token_info.divisions[division_id] != undefined' ng-repeat='(division_id,division) in resources.divisions.data' class="item item-input item-select test-select">
        <div class="input-label">
          {{resources.divisions.data[division_id].tournament_name}}
        </div>

        <select class='test' ng-change='calc_total_cost()' ng-model="token_info.divisions[division_id]" ng-options="option for option in []|range:resources.player_tokens.data.available_tokens.divisions[division_id]+1 track by option">          
          <!--<option ng-repeat="option in []|range:resources.player_tokens.data.available_tokens.divisions[division_id]+1:0" value="{{option}}">{{option}}</option>-->
          
        </select>
      </label>
      <label ng-repeat='(metadivision_id,metadivision) in resources.divisions.data.metadivisions' class="item item-input item-select test-select">
        <div class="input-label">
          {{resources.divisions.data.metadivisions[metadivision_id].meta_division_name}}
        </div>
        <select ng-change='calc_total_cost()' ng-model="token_info.metadivisions[metadivision_id]" ng-options="option for option in []|range:resources.player_tokens.data.available_tokens.metadivisions[metadivision_id]+1:0 track by option">          
          
        </select>
      </label>      
      <label ng-if='division.team_tournament == true && token_info.teams[division_id] != undefined' ng-repeat='(division_id,division) in resources.divisions.data' class="item item-input item-select test-select">
        <div class="input-label">
          {{resources.divisions.data[division_id].tournament_name}}
        </div>

        <select ng-change='calc_total_cost()' ng-model="token_info.teams[division_id]" ng-options="option for option in []|range:resources.player_tokens.data.available_tokens.teams[division_id]+1 track by option">          
          
        </select>
      </label>
      <div class="item-divider item" id='add_user_user_info_title'>
        Total Cost : {{token_info.total_cost}}
      </div>
      <button  class="button button-full button-positive icon-right ion-chevron-right" ui-sref=".confirm({token_info:token_info})">
      Review Purchase
    </button>    

    <!--   <ion-checkbox id="token_select_comped_checkbox" class='item' ng-model='token_info.comped' >Comped</ion-checkbox> -->
    <!--   <div ng-if='division.team_tournament == false && division.meta_division_id == null' class='item' ng-repeat='(division_id,division) in resources.divisions.data' align='left' >{{resources.divisions.data[division_id].tournament_name}} : {{token_count}} -->
    <!--     <select style='font-size:48px' ng-change='calc_total_cost()' name="repeatSelect" id="repeatSelect" ng-model="token_info.divisions[division_id]"> -->
    <!--       <option ng-repeat="option in []|range:resources.player_tokens.data.available_tokens.divisions[division_id]+1:0" value="{{option}}">{{option}}</option> -->
    <!--     </select> -->
    <!--   </div> -->
    <!--   <div class='item' ng-repeat='(metadivision_id,metadivision) in resources.divisions.data.metadivisions' align='left' >{{resources.divisions.data.metadivisions[metadivision_id].meta_division_name}} : -->
    <!--     <select style='font-size:48px' ng-change='calc_total_cost()' name="repeatSelect" id="repeatSelect" ng-model="token_info.metadivisions[metadivision_id]"> -->
    <!--       <option ng-repeat="option in []|range:resources.player_tokens.data.available_tokens.metadivisions[metadivision_id]+1:0" value="{{option}}">{{option}}</option> -->
    <!--     </select> -->
    <!--   </div> -->
    <!--   <div ng-if='team_division.team_tournament == true' class='item' ng-repeat='(division_id,team_division) in resources.divisions.data' align='left' >{{resources.divisions.data[division_id].tournament_name}} : -->
    <!--     <select style='font-size:48px' ng-change='calc_total_cost()' name="repeatSelect" id="repeatSelect" ng-model="token_info.teams[division_id]"> -->
    <!--       <option ng-repeat="option in []|range:resources.player_tokens.data.available_tokens.teams[division_id]+1:0" value="{{option}}">{{option}}</option> -->
    <!--     </select> -->

    <!--   </div>       -->
    <!--   <div class="item-divider item" id='add_user_user_info_title'> -->
    <!--     Total Cost : {{token_info.total_cost}} -->
    <!--   </div> -->
    <!--   <button style='font-size:38px;line-height:38px' class="button button-full button-positive icon-right ion-chevron-right" ui-sref=".confirm({token_info:token_info})"> -->
    <!--   Review Purchase -->
    <!-- </button>     -->
    <!-- </div>     -->

      <!-- <span ng-repeat='type in ["divisions","metadivisions","teams"]'> -->
      <!--   <div ng-repeat='(division_id,token_count) in resources.player_tokens.data.tokens[type]' class="item" style='font-size:24px;padding-top:0px;'> -->
      <!--     <div ng-if="type != 'metadivisions'" style='background-color:lightblue;padding-top:10px;padding-bottom:10px'>{{resources.divisions.data[division_id].tournament_name}}</div> -->
      <!--     <div ng-if="type == 'metadivisions'" style='background-color:lightblue;padding-top:10px;padding-bottom:10px'>{{resources.divisions.data.metadivisions[division_id].meta_division_name}}</div> -->

      <!--     <div class='row' style='z-index:-1;padding-top:7px;padding-bottom:7px;position:relative;top:0px;'> -->
      <!--       <\!-- <div style='text-align:center;font-size:34px' class='col' ng-repeat='number in []|range:resources.player_tokens.data.available_tokens[type][division_id]+1'> -\-> -->
      <!--       <\!--   <a ng-style='{"background-color":buttons[type][division_id][number]}' style='top:10px;' ng-click='set_token_count(type,division_id,number)' class='badge1'>{{number}}</a> -\-> -->
      <!--       <\!-- </div> -\-> -->
      <!--       <div ng-click='change_token_list(-7)' -->
      <!--            ng-if='cur_ticket_start_range > 0' -->
      <!--         class='col-10' -->
      <!--         ><i class='icon ion-arrow-left-c'></i></div> -->
            
      <!--       <div class='col' ng-repeat='number in []|range:8:0'> -->
      <!--         <a ng-if='number+(cur_ticket_start_range) >= 0 && number+(cur_ticket_start_range) <= resources.player_tokens.data.available_tokens[type][division_id]' -->
      <!--            ng-style='{"background-color":buttons[type][division_id][number+cur_ticket_start_range]}' -->
      <!--            style='top:10px;' -->
      <!--            ng-click='set_token_count(type,division_id,number+cur_ticket_start_range)' -->
      <!--            class='badge1'>{{number+(cur_ticket_start_range)}}</a> -->
      <!--       </div> -->
      <!--       <div ng-click='change_token_list(7)' -->
      <!--            ng-if='cur_ticket_start_range + 7 < resources.player_tokens.data.available_tokens[type][division_id]' -->
      <!--                                                class='col-10' -->
      <!--                                                style='margin-top:auto;margin-bottom:auto'                                                      -->
      <!--       ><i style='padding-left:10px' class='icon ion-arrow-right-c'></i></div> -->
      <!--       <div style='margin-top:auto;margin-bottom:auto' class='col-10'> -->
      <!--           {{sliders[type][division_id]}} -->
      <!--       </div> -->
      <!--     </div> -->
      <!--   </div> -->
      <!-- </span>       -->
      <!-- <button id="token_select_add_tokens" ui-sref='.process({process_step:{process:true}, token_info:sliders})' class="item item-icon-right button button-full button-calm input-list-button" style='text-align:left' ng-disabled='disable_form_submit()'> -->
      <!--   <i class="icon ion-chevron-right"></i> -->
      <!--   <span >Purchase Tokens (COST : ${{total_cost}})</span> -->
      <!-- </button> -->
      
    </div>    
  </ion-content>
</ion-view>

