<div>
  <ion-item ui-sref='{{item.ui_sref}}' class='item item-icon-left item-icon-right' ng-repeat='item in items_to_list|useFilter:filter_to_apply:filter_for_string as srefcount' ng-if='item.ui_sref!=undefined'>
    <i class='icon ion-edit'></i>
    {{item.label_to_display}}
    <i class='icon material-icons'>chevron_right</i>   
  </ion-item>
  <ion-item class='item-borderless' ng-if='not_found_sref==undefined && srefcount.length==0'>
    {{not_found_message}}
  </ion-item>
  <ion-item ng-if="not_found_sref!=undefined && srefcount.length==0" ui-sref='{{not_found_sref}}' class='item item-icon-left'>      <i class='icon ion-plus-circled'></i>{{not_found_message}}</ion-item>  
  <!-- <div class='card' style='margin:0;margin-top:2px' ng-repeat='item in items_to_list|useFilter:filter_to_apply:filter_for_string as actioncount' ng-if='item.actions_ui_sref_list!=undefined'> -->
  <ion-item ng-click='toggle_view_item_actions(item)' ng-repeat-start='item in items_to_list|useFilter:filter_to_apply:filter_for_string as actioncount' ng-if='item.actions_ui_sref_list!=undefined'' class='item-icon-left item-icon-right'>
    <i class='icon {{item.icon}} {{item.icon_color}}' ng-if='item.material_icon==undefined'></i>
    <i class='icon {{item.icon_color}} material-icons' ng-if='item.material_icon!=undefined'>{{item.material_icon}}</i>   
    {{item.label_to_display}}
    <i class='icon material-icons'>expand_more</i>   
    
  </ion-item>
  <div ng-repeat-end ng-if="item.display_actions==true">
    <div class='row' style='padding:1px;padding-left:10px;padding-right:10px'>
      <div style='margin:0px;padding-top:0;padding-bottom:0;' ng-class="{'col-80':item.has_pic==true,'col':item.has_pic!=true}">      
        <div ng-click="{{action.ng_click}}" class="item item-icon-left" ng-repeat='action in item.actions_ng_click_list'>
          <i class='icon ion-compose'></i>      
          {{action.label}}
        </div>
        <div ui-sref='{{action.ui_sref}}' class="item item-icon-left" ng-if="item.display_actions==true" ng-repeat='action in item.actions_ui_sref_list'>
          <i class='icon ion-compose'></i>      
          {{action.label}}
        </div>
      </div>
      <div class='col-20' style='margin:auto' ng-if='item.has_pic==true && item.display_actions==true'>
        <img src='{{item.img_url}}' class='padding circular--square' style='opacity:.5;height:110px;width:110px'>
      </div>
    </div>
  </div >
</div>  
