<div>
  <ion-item ui-sref='{{item.ui_sref}}' class='item item-icon-left' ng-repeat='item in items_to_list|useFilter:filter_to_apply:filter_for as srefcount' ng-if='item.ui_sref!=undefined'>
    <i class='icon ion-edit'></i>
    {{item.label_to_display}}
  </ion-item>
  <ion-item ng-if='srefcount==0' class='item-borderless'>
    {{not_found_message}}
  </ion-item>
  <div class='card' style='margin:0;margin-top:2px' ng-repeat='item in items_to_list|useFilter:filter_to_apply:filter_for as actioncount' ng-if='item.actions_ui_sref_list!=undefined'>
    <div class='row'>
      <div class='col'>
        <div class='item item-divider item-icon-left' ng-click='toggle_view_item_actions(item)'>
          <i class='icon {{item.icon}} {{item.icon_color}}'></i>
          {{item.label_to_display}}
        </div>
      </div>
    </div>
    <div class='row'>
      <div ng-class="{'col-80':item.has_pic==true,'col':item.has_pic!=true}">      
        <div ng-click="{{action.ng_click}}" class="item item-icon-left" ng-if="item.display_actions==true" ng-repeat='action in item.actions_ng_click_list'>
          <i class='icon ion-compose'></i>      
          {{action.label}}
        </div>
        <div ui-sref='{{action.ui_sref}}' class="item item-icon-left" ng-if="item.display_actions==true" ng-repeat='action in item.actions_ui_sref_list'>
          <i class='icon ion-compose'></i>      
          {{action.label}}
        </div>
      </div>
      <div class='col-20' style='margin:auto' ng-if='item.has_pic==true && item.display_actions==true'>
        <img src='{{item.img_url}}' class='padding circular--square' style='opacity:.5;height:130px;width:130px'>
      </div>
    </div>
  </div>
</div>  
