<ion-content>
  <div>
    <div class="card">
      <div class="item item-divider">
        Confirm Information 
      </div>
      <div class="item item-text-wrap">
        If the information below is correct, click the "Next" button.
        If it is not, click the "Re-Enter Info" button to change your information.<br><br>
        <center>
        <div style='background-color:red'>If you knowingly submit incorrect information, or a photo that is not a picture of your face, you may be penalized at PAPA 20.</div>
        </center>
        <br>
        <table>
          <tr>
            <td  class='padding-right'>First Name : </td><td class='padding-left'>{{first_name}}</td>
          </tr>
          <tr>
            <td  class='padding-right'>Last Name : </td><td  class='padding-left'>{{last_name}}</td>
          </tr>
          <tr>
            <td  class='padding-right'>Ifpa Ranking : </td><td  class='padding-left'>
              <span ng-if='ifpa_ranking != 999999'>{{ifpa_ranking}}</span>
              <span ng-if='ifpa_ranking == 999999'>No IFPA Ranking</span>
            </td>
          </tr>
          <tr>
            <td  class='padding-right'>Email Address : </td><td  class='padding-left'>{{player_email}}</td>
          </tr>
          <tr>
            <td  class='padding-right'>Main Division : </td><td  class='padding-left'>{{linked_division_name}}</td>
          </tr>
          <tr>
            <td  class='padding-right'>T-shirt size : </td><td  class='padding-left'>{{player_shirt_size}}</td>
          </tr>
          
        </table>
        <br>
        <button style='float:left;margin-bottom:25px;margin-top:25px;' ui-sref='prereg.step1({site:site})' class='button button-calm'>Re-enter Info</button>
        <button style='float:right;margin-bottom:25px;margin-top:25px;' ui-sref='.step5' class='button button-calm'>Next </button>
        <br><br>
      </div>
    </div>
  </div>
</ion-content>


