<ion-view view-title="">
  <ion-content>
    <div class='first-element'>
    </div>
    <div style='width:100%;line-height:48px;font-size:48px;    text-overflow: ellipsis;' ng-repeat="queue_machine_index in []|range:flattened_queues.length:0:2" ng-if='queue_machine_index>=start_range && queue_machine_index <= end_range'>
      <table width=100%>
        <tr>
          <td style='width:50%' ng-repeat='column in [0,1]'>
            <table style='margin-bottom:20px;border-style:solid;border-width:1px;width:100%'>
              <tr>
                <td>
                  <div style='overflow:hidden;text-overflow: ellipsis;white-space: nowrap; width:450px'><u><b>{{flattened_queues[queue_machine_index+column].division_machine_name}}</b></u></div>
                </td>
              </tr>
              <tr ng-repeat="queue_index in []|range:flattened_queues[queue_machine_index+column].queues.length|limitTo:5">
                <td>
                 <div style='overflow:hidden;text-overflow: ellipsis;white-space: nowrap; width:430px; height: 58px;'> {{queue_index}} : {{flattened_queues[queue_machine_index+column].queues[queue_index].player.player_name}} </div>
                </td>
              </tr>
              <tr ng-if="flattened_queues[queue_machine_index+column].queues.length>5">
                <td>
                  {{flattened_queues[queue_machine_index+column].queues.length - 5}} more on queue
                </td>
              </tr>
            </table>
          </td>
        </tr>
    </table>
    </div>
    <!-- <div class="skinny-list list">     -->
    <!--   <div ng-repeat="queue in division_machine.queues"> -->
    <!--     <a ng-if="manage=='true' || queue.player_id==logged_in_player_id" id="tournament_edit_tournament_{{tournament.tournament_name}}_link" class="item item-icon-left" ng-click="choose_queue_action(queue.player_id,queue.player.player_name)"> -->
    <!--       <i class="icon ion-stop" style='color:red'></i> -->
    <!--       <span>{{queue.player.player_name}}</span> -->
    <!--     </a> -->
    <!--     <a ng-if="manage=='false' && queue.player_id!=logged_in_player_id" id="tournament_edit_tournament_{{tournament.tournament_name}}_link" class="item"> -->
    <!--       <span>{{queue.player.player_name}}</span> -->
    <!--     </a>         -->
    <!--   </div> -->
  </ion-content>
</ion-view>

