<ion-view view-title="Match Details">
  <ion-content>
    <div>
      <center ng-if='resources.scorekeeping_division_final.data.division_final_rounds[round_id-1].division_final_matches[match_id].final_match_game_results[0].division_final_match_game_player_results[0].final_player_id==undefined'>
        Match has not started yet!
      </center>
    </div>
    <div ng-if='resources.scorekeeping_division_final.data.division_final_rounds[round_id-1].division_final_matches[match_id].final_match_game_results[0].division_final_match_game_player_results[0].final_player_id!=undefined'>
      <center>
        <table class='table'>
          <tr class='grey'>
            <th class='padding'><b>Player</b></th>
            <th class='padding'><b>Seed</b></th>
            <th class='padding'><b>Points</b></th>
          </tr>
          <tr ng-class='{lightgrey:$even}' ng-repeat="final_match_player_result in resources.scorekeeping_division_final.data.division_final_rounds[round_id-1].division_final_matches[match_id].final_match_player_results|orderBy:'final_player.initial_seed'">
            <td class='padding'><center>{{final_match_player_result.final_player.player_name}}</center></td>
            <td class='padding'><center>{{final_match_player_result.final_player.initial_seed}}</center></td>
            <td class='padding'><center>{{final_match_player_result.papa_points_sum}}</center></td>          
          </tr>
        </table>
        <span ng-if='current_state=="app.finals_scorekeeper.division_final.match"' >          
          <button ui-sref=".resolve_tiebreaker" ng-if='resources.scorekeeping_division_final.data.division_final_rounds[round_id-1].division_final_matches[match_id].expected_num_tiebreaker_winners!=null' class='button button-energized'> Resolve Tiebreaker   </button>
        </span>
      </center>
      <br>
      <div ng-init='game_index = $index' ng-repeat="game in resources.scorekeeping_division_final.data.division_final_rounds[round_id-1].division_final_matches[match_id].final_match_game_results" class="card list">
        <div  class="item item-divider row">
          <div class='col' ng-if='game.division_machine_string==undefined'>Game Not Selected</div>
          <div class='col' ng-if='game.division_machine_string!=undefined'>{{(game.division_machine_string | limitTo: 20) + (game.division_machine_string.length > 20 ? '...' : '')}}</div>
          <div class='col icon-right' ng-if='current_state=="app.finals_scorekeeper.division_final.match"'>
            <span ui-sref='.play_order({game_index:$index})' ng-if='check_if_machine_player_order_set(game)==false' class='icon ion-compose'> (machine/order)</span>
          </div>
        </div>
        <div ng-repeat="player in game.division_final_match_game_player_results|orderBy:'play_order'" class='item item-input-inset row'>
          <span class="input-label col-50">
            {{player.final_player.player_name}} 
          </span>
          <label ng-if="check_if_machine_player_order_set(game)==false && current_state=='app.finals_scorekeeper.division_final.match' && resources.scorekeeping_division_final.data.division_final_rounds[round_id-1].completed != true" class="item-input-wrapper col-50">
            <input ng-model='player.score' type="tel" placeholder="Score" ng-change='onScoreChange(player)'>
          </label>
          <label ng-if="current_state!='app.finals_scorekeeper.division_final.match' || resources.scorekeeping_division_final.data.division_final_rounds[round_id-1].completed == true" class="col-50">
            {{player.score}}
          </label>
          
        </div>
        <ion-toggle ng-if="check_if_machine_player_order_set(game)==false" ng-disabled='game.reviewed==false' class='item item-toggle' ng-model="game.reviewed" toggle-class="toggle-stable">I have reviewed the scores</ion-toggle>          
        <a ng-if="check_if_machine_player_order_set(game) && current_state=='app.finals_scorekeeper.division_final.match'" class='item item-icon-right item-calm' ui-sref='.play_order({game_index:$index})'>
          <i class="icon ion-chevron-right"></i>
          Set Player Order/Machine
        </a>
        <button ng-disabled='game.reviewed==true' ng-if="check_if_machine_player_order_set(game)==false && resources.scorekeeping_division_final.data.division_final_rounds[round_id-1].completed != true" class='button button-full item-icon-right button-calm' ng-click='on_submit(game)'>
          <i class="icon ion-chevron-right"></i>
          Record Scores
        </button>
      </div>
    </div>
    <br ng-repeat='count in [1,2,3,4,5,6,7,8]'>

  </ion-content>
</ion-view>

