<ion-view view-title="Logged Out">
  <ion-content>      
    <div class='col icon-label first-element'>
      <div class='row'>
        <div><i class="icon ion-log-out"></i></div>
        <div>Logged Out</div>
      </div>
      <div class='row'>
        <div >Blah Blah Blah Blah Blah Blah.</div>
      </div>
    </div>
    <center>
      
      <a ng-if='type_of_page=="user"' id="LoginAgainButton" class='button button-large button-positive tablet-friendly-button' ui-sref='app.login({site:site})'>
        <span>Login Again</span>
      </a>
      <a ng-if='type_of_page=="player"' id="LoginAgainButton" class='button button-large button-positive tablet-friendly-button' ui-sref='app.login_player({site:site})'>
        <span>Login Again</span>
      </a>
      
    </center>
  </ion-content>
</ion-view>

