<ion-view view-title="Logged Out" hide-back-button='true'>
  <ion-content>      
      <center>
        <div class='standard_big_font'>
          <div class='padding'><u><i class="icon ion-log-out padding"></i><span>Logged Out</u></span></div>
          <div>
            <i class='icon padding'></i>Bye Bye!
          </div>
          <br>
          <a ng-if='type_of_page=="user"' id="LoginAgainButton" class='button button-full button-positive item-icon-right' ui-sref='app.login({site:site})'>
            <span>Login Again</span>
            <i class="icon ion-chevron-right"></i>          
        
          </a>
          <button ng-if='type_of_page=="player"' id="LoginAgainButton" class='button button-full button-positive item-icon-right' ui-sref='app.login_player({site:site})'>
            <span>Login Again</span>
            <i class="icon ion-chevron-right"></i>                  
          </button>
        </div>
    </center>
  </ion-content>
</ion-view>

