<ion-view view-title="Manage Machines">
  <ion-content>      
    <div class="skinny-list list">
      <button id='add_division_machine_return_button' ui-sref='.^.^' class="item item-icon-right button button-full button-calm input-list-button" style='text-align:left'>
        <i class="icon ion-chevron-right"></i>
        <span >Done Managing Machines</span>
      </button>

      <a id="manage_division_machines_add_machine_button" ui-sref='.add_division_machine' class="item item-icon-left item-icon-right">
        <i class="icon ion-plus-circled"></i>
        <span>Add Machine...</span>
        <i class="icon ion-chevron-right"></i>        
      </a>
      <a id='manage_division_machines_edit_{{division_machine.division_machine_name}}' ng-click='remove_machine(division_machine)' ng-if="division_machine.removed == false" class='item item-icon-right' ng-repeat="division_machine in resources.division_machines.data">
        <i style='color:red;font-size:48px;margin-right:10px;' class="icon ion-close-circled"></i>
        <span>{{division_machine.division_machine_name}}</span>
      </a>
      <!--   <\!--<a ng-if='tournament.single_division == true' id="tournament_edit_tournament_{{tournament.tournament_id}}_link" ui-sref='.edit_tournament({division_id:tournament.divisions[0]})' class="item item-icon-left item-icon-right">-\-> -->
      <!--   <a ng-if='tournament.single_division == true' id="tournament_edit_tournament_{{tournament.tournament_name}}_link" ng-click="choose_action(tournament.divisions[0],tournament,'.edit_tournament')" class="item item-icon-left item-icon-right"> -->
      <!--     <i ng-if='tournament.active == true' class="icon ion-play" style='color:green'></i> -->
      <!--     <i ng-if='tournament.active == false' class="icon ion-stop" style='color:red'></i> -->

      <!--     <span>{{tournament.tournament_name}}</span> -->
      <!--     <i class="icon ion-chevron-right"></i> -->
      <!--   </a> -->
      <!--   <a ng-if='tournament.single_division == false' id="tournament_edit_tournament_{{tournament.tournament_name}}_link" ui-sref='.division_list({tournament_id:tournament.tournament_id})' class="item item-icon-left item-icon-right"> -->
      <!--     <i class="icon ion-person"></i> -->
      <!--     <span>{{tournament.tournament_name}}</span> -->
      <!--     <i class="icon ion-chevron-right"></i>         -->
      <!--   </a>         -->
      <!-- </div> -->
    </div>

  </ion-content>
</ion-view>

