<div class='chatitemup' ng-if="post_success!=undefined">
  <div ui-view='post_success'>
  </div>
  <post-success-single-button></post-success-single-button>
</div>
<div class='chatitemup' ng-if="post_success==undefined">
<center>
  Choose a meta tournament name and the tournaments to include in it
  <br>
  <br>
</center>
<form>
  <label class="item item-input">
    <input type="text" placeholder="MetaTournament Name" ng-model="meta_tournament.meta_tournament_name"/>        
  </label>
  <br>
  <br>
  <ion-list>
    <ion-checkbox ng-repeat='tournament in tournaments' ng-model="meta_tournament.tournament_ids[tournament.tournament_id]" value="{{tournament.tournament_id}}">{{tournament.tournament_name}}</ion-checkbox>
  </ion-list>
    <div class='row'>
      <div class='col'>
      </div>
      <button ng-click='create_meta_tournament_func()' type="button" class="padding button-pagraph col-50 button button-block button-positive">
        Create Meta Tournament
      </button>
      <div class='col'>
      </div>    
    </div>
  
</form>

