.platform-android,.platform-browser,.platform-ios {
    .tablet-friendly-button {
        @media screen and (max-width: 610px){
            @media screen and (max-device-height: 750px){
                padding-left:$font-size-small;
                padding-right:$font-size-small;                
                padding-top:$font-size-small/3;
                padding-bottom:$font-size-small/3;
                margin-top:$font-size-small;
            }
            @media screen and (min-device-height: 751px){      
                padding-left:$font-size-med;
                padding-right:$font-size-med;                
                padding-top:$font-size-med/3;
                padding-bottom:$font-size-med/3;
                margin-top:$font-size-med;                
            }
        }
        @media screen and (max-width: 970px) and (min-width:611px) {
                padding-left:$font-size-med;
                padding-right:$font-size-med;                
                padding-top:$font-size-med/3;
                padding-bottom:$font-size-med/3;
                margin-top:$font-size-med;                
        }
        @media screen and (min-width: 971px) {
                padding-left:$font-size-large;
                padding-right:$font-size-large;                
                padding-top:$font-size-large/3;
                padding-bottom:$font-size-large/3;
                margin-top:$font-size-large;                
        }
    }
}