<ion-view view-title="Ooops I did it again">
  <ion-content>      
    <div class="skinny-list list">
      <a id="home_manage_user_button" ui-sref='.edit_player_entries' class="item item-icon-left item-icon-right  item-padding" ng-if='User.has_role("admin")'>
        <i class="icon ion-edit"></i>
        <span>Change Existing Ticket</span>
            <i class="icon ion-chevron-right"></i>          

      </a>
      <a id="home_manage_user_button" ui-sref='.missing_tokens' class="item item-icon-left item-icon-right item-padding" ng-if='User.has_role("admin")'>
        <i class="icon ion-nuclear"></i>
        <span>I should have more tickets (aka I can't do math)</span>
            <i class="icon ion-chevron-right"></i>          

      </a>
      <a id="home_manage_user_button" ui-sref='.missing_scores' class="item item-icon-left item-icon-right item-padding" ng-if='User.has_role("admin")'>
        <i class="icon ion-social-freebsd-devil"></i>
        <span>I'm missing a score (aka I can't follow the rules)</span>
            <i class="icon ion-chevron-right"></i>          
        
      </a>
      
    </div>
  </ion-content>
</ion-view>

