<ion-view view-title="">
  <ion-content>      
      <center>
        <div class='standard_big_font warning_confirm'>
          <!--<div><u><i class="icon ion-ios-eye padding"></i><span>Review</u></span></div>-->
          <button class='button button-clear button-dark icon-left ion-alert-circled ion-icon-yellow review-icon'>
            <span><u>Player has been "UnSkipped" and started on machine</u></span>
          </button>
          <table>
            <tr>
              <td class='padding-right' align="right">
                Machine : 
              </td>
              <td class='padding-left'>
                {{division_machine_name}}
            </tr>
            <tr ng-if='player_id!=undefined'>
              <td class='padding-right' align="right">
                 Player : 
              </td>
              <td class='padding-left'>
                (#{{player_id}}) {{player_name}}
            </tr>            
          </table>
          <br>
        </div>
        <button ng-if='player_id!=undefined' id='HomeButton' class='button button-full button-calm item-icon-right seperate_button' ui-sref="app.scorekeeping.machine_select({division_id:division_id})">
          <span>Back to machine list</span>
          <i class="icon ion-chevron-right"></i>          
        </button>
      </center>
  </ion-content>
</ion-view>

