<ion-content>
<div>
  <div class="card">
    <div class="item item-divider">
      Step 2 : IFPA Ranking Lookup
    </div>
    <div class="item item-text-wrap" ng-if="dup_player == true">
      There is already a player named {{player_first_name+" "+player_last_name}}.<br><br>
      Please go back and re-enter your information, adding an identifying string to your name. <br><br>
      For example : if you are from West Virginia, you can add "(wv)" to the end of your name.<br><br>
      <button style='float:left;margin-bottom:25px;margin-top:25px' ui-sref='.^' class='button button-calm'> Back </button>      
    </div>
    <div class="item item-text-wrap" ng-if="dup_player == false">
      <div ng-if="no_players_found == false && too_many_players_found == false && only_one_player_found == false">

        IFPA found multiple players that match the name {{player_first_name+" "+player_last_name}}.
        <br>
        <br>
        Please select the correct player and click the Next button.
        <br>
        <br>
        If you are not one of the players listed, please click <a ng-if='isWebView == false' href="static/prereg-ifpa.html" target="_new_window"> here.</a> <a ng-if='isWebView == true' ng-click='utils.native_open_in_browser("/td/static/prereg-ifpa.html")'> here.</a> 
        <br>
        <br>        
        <ion-radio class='item' style='box-shadow: 2px 2px 5px grey;' ng-repeat='result in resources.ifpa_rankings.data.search' ng-model="ifpa_result_selected.wppr_rank" ng-value="result.wppr_rank">I'm {{result.first_name+" "+result.last_name}} (#{{result.wppr_rank}})
          </ion-radio>          
      </div>
      <div ng-if="too_many_players_found == true">
        IFPA reported {{resources.ifpa_rankings.data.search.length}} players that matched the name you entered.<br>
        <br>
        Please go back and re-enter your full name.
        <br><br>
        If you have entered your full name and are still getting this message, please click <a ng-if='isWebView == false' href="static/prereg-ifpa.html" target="_new_window"> here.</a> <a ng-if='isWebView == true' ng-click='utils.native_open_in_browser("/td/static/prereg-ifpa.html")'> here.</a>        
      </div>

      <div ng-if="no_players_found == true">
        IFPA does not have a ranking for a player named {{player_first_name+" "+player_last_name}}.
        <br><br>
        If you have never played in an IFPA ranked tournament, this is expected.
        <br><br>
        If you expected IFPA to have a ranking for you, please click  <a ng-if='isWebView == false' href="static/prereg-ifpa.html" target="_new_window"> here.</a> <a ng-if='isWebView == true' ng-click='utils.native_open_in_browser("/td/static/prereg-ifpa.html")'> here.</a>
      </div>

      <div ng-if="only_one_player_found == true">
        The IFPA ranking for {{player_first_name+" "+player_last_name}} is {{resources.ifpa_rankings.data.search[0].wppr_rank}}.
        <br><br>
        If this is incorrect, please click <a ng-if='isWebView == false' href="static/prereg-ifpa.html" target="_new_window"> here.</a> <a ng-if='isWebView == true' ng-click='utils.native_open_in_browser("/td/static/prereg-ifpa.html")'> here.</a>
      </div>     
      <button ng-if="no_players_found == false && too_many_players_found == false && only_one_player_found == false" ng-disabled='ifpa_result_selected.wppr_rank ==undefined' style='float:right;margin-bottom:25px;margin-top:25px;' ui-sref='.step3({ifpa_ranking:ifpa_result_selected.wppr_rank})' class='button button-calm'> Next </button>
      <button style='float:left;margin-bottom:25px;margin-top:25px' ui-sref='.^' class='button button-calm'> Back </button>
      <button ng-if="no_players_found == true || only_one_player_found == true" style='float:right;margin-bottom:25px;margin-top:25px;' ui-sref='.step3({ifpa_ranking:resources.ifpa_rankings.data.search[0].wppr_rank})' class='button button-calm'> Next </button>
    </div>
  </div>
</div>
</ion-content>
