<ion-view view-title="Tickets For..." hide-back-button="{{hide_back_button}}">
  <ion-content>
    <div class="list">
      <div class='item'>
        Player Name : <span ng-if="selected_players.length>0">
          (#{{selected_players[0].player_id}}) {{selected_players[0].full_name}}
        </span>
        <span ng-if="selected_players.length==0"> N/A </span>        
      </div>
      <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <span style='padding-top:5px;padding-bottom:5px' class="input-label">Player # : </span>            
            <input class="embedded-input" ng-change='onPlayerIdChange()' type="tel" placeholder="enter player # here" ng-model="player.player_id">
          </label>
          <button class="button button-calm button-medium" ng-disabled='selected_players.length == 0' ng-click='test_submit()'>
            Select
          </button>
      </div>                        
    </div>
    
    <div class='player-info-avatar player-info-avatar-ex-two'>
      <!--<img  ng-if='selected_players.length > 0 ' class='avatar-frame avatar-user-pic avatar-user-pic-ex' src="{{http_prefix}}://{{server_ip_address}}/pics/player_{{player_img_id}}.jpg">-->
      <img  ion-img-cache ng-if='selected_players.length > 0 ' class='avatar-frame avatar-user-pic avatar-user-pic-ex' ng-src="{{http_prefix}}://{{server_ip_address}}/pics/player_{{player_img_id}}.jpg">
      <!-- <img  ion-img-cache ng-if='selected_players.length > 0 ' class='avatar-frame avatar-user-pic avatar-user-pic-ex' ng-src="https://www.pbchallenge.net/pics/player_{{player_img_id}}.jpg"> -->     
    </div>
  </ion-content>
</ion-view>


