<!--
  Generated template for the QueueSelectPlayerTournamentMachinePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color='pss-queue-header'>
    <custom-headers [homePageDisplayName]="getHomePageDisplayString()" [title]="eventName" [eventId]="eventId" [eventName]="eventName" [homePage]="getHomePageString()"></custom-headers>
  </ion-navbar>    
</ion-header>


<ion-content>
  
 <ion-toolbar no-padding no-margin color="pss-queue-sub-header" text-center>
   <b> Select tournament/machines to view queues</b>
 </ion-toolbar>
 <div [style.width]='contentWidth' class='desktopSlim'>    
    <div text-center>
    <ion-chip tappable (click)="onReload()" margin-top margin-bottom>
      <ion-label>Refresh</ion-label>
      <ion-icon name="refresh" color="dark" item-end></ion-icon>      
    </ion-chip>
    </div>
    <ion-list>
    <ng-container *ngFor="let tournament of tournaments">
      <ion-item-divider color="darker" tappable (click)="expand(tournament,tournament.tournament_id)" padding-top padding-bottom margin-top id="{{tournament.tournament_id}}">
        <ion-avatar item-start *ngIf="tournament.img_url!=null">
          <img [src]="imgBaseUrl+tournament.img_url">
        </ion-avatar>        
        <h1>{{tournament.tournament_name}}</h1><ion-icon item-end [name]="tournament.expanded==false?'ios-arrow-dropdown':'ios-arrow-dropup'"></ion-icon>
      </ion-item-divider>      
      <ng-container *ngIf="tournament.expanded!=true?false:true">
        <ion-list>
          <ng-container *ngFor="let tournament_machine of tournament.tournament_machines">
            <ion-item  tappable (click)="expand(tournament_machine,'machine_'+tournament_machine.tournament_machine_id)" id="machine_{{tournament_machine.tournament_machine_id}}">
              {{tournament_machine.tournament_machine_name}}<ion-badge item-left no-margin *ngIf='tournament_machine.queue_length > 0'>{{tournament_machine.queue_length}}</ion-badge>
                <span text-center item-end style='font-size:10px' hideWhen="core,tablet" *ngIf="tournament_machine.total_play_time > 0" >Avg Time<br>{{round((tournament_machine.total_play_time/tournament_machine.total_number_of_players)/60)}} minutes</span>
                <span text-center item-end showWhen="core,tablet" *ngIf="tournament_machine.total_play_time > 0" >Avg Time<br>{{round((tournament_machine.total_play_time/tournament_machine.total_number_of_players)/60)}} minutes</span>

              <ion-icon item-end [name]="tournament_machine.expanded==false?'ios-arrow-dropdown':'ios-arrow-dropup'"></ion-icon>

            </ion-item>            
            <ion-list *ngIf="tournament_machine.expanded==true && tournament.expanded==true">
              <ion-item>
                <ion-icon item-start name="play" *ngIf="tournament_machine.player_id!=null"></ion-icon>
                <ion-icon item-start *ngIf="tournament_machine.player_id==null"></ion-icon>
                <ng-container *ngIf="tournament_machine.player_id==null&&tournament_machine.queues[0].player==null">
                  Not Being Played
                </ng-container>
                <ng-container *ngIf="tournament_machine.player_id!=null">
                  {{tournament_machine.player.player_full_name}}
                </ng-container>
              </ion-item>
              <ng-container *ngFor="let queue of tournament_machine.queues" >
                <ion-item *ngIf="queue.player!=null" tappable (click)="queue.whatToDo(queue,tournament_machine)">
                  <ion-icon item-start [name]="queue.icon"></ion-icon> <span>{{queue.player.player_full_name}}</span>
                </ion-item>
              </ng-container>
              
              <ng-container *ngIf="player_id_for_event==null && role != null">
                <ion-item   *ngIf="tournament_machine.player_id!=null || tournament_machine.queues[0].player!=null " tappable [navPush]="'AddPlayerToQueuePage'" [navParams]="buildNavParams({tournamentMachine:tournament_machine})">
                <ion-icon  item-start name="add-circle"></ion-icon> Add To Queue
              </ion-item>
              </ng-container>
              <ng-container *ngIf="player_id_for_event!=null && (tournament_machine.player_id!=null || tournament_machine.queues[0].player!=null)">
                <ion-item tappable (click)="showQueueAddConfirm(tournament_machine)" >
                  <!--<ion-icon tappable (click)="addEventPlayerToQueue(tournament_machine.tournament_machine_id)" item-start name="add-circle"></ion-icon> Add To Queue-->
                  <ion-icon item-start name="add-circle"></ion-icon> Add To Queue
                  
              </ion-item>
              </ng-container>
              
            </ion-list>
          </ng-container>
        </ion-list>
      </ng-container>      
    </ng-container>
  </ion-list>
</div>
</ion-content>
