<!--resources.queues.data[division_machine_id].queues[0].player.player_name-->
<ion-view view-title="Select Player" hide-back-button="{{hide_back_button}}">
  <ion-content>
    <div class='list'>
      <div class='item'>
        <span>Machine : </span><span>{{division_machine_name}}</span>
      </div>
      <div class='item' ng-if="queues.length > 0">
        Player : (#{{queues[0].player.player_id}}) {{queues[0].player.player_name}}
      </div>      
      <div class='item' ng-if="queues.length == 0">
        
        <span ng-if="team_tournament != true">Player :</span>
        <span ng-if="team_tournament == true">Team :</span>
        
        <span ng-if="selected_players.length>0 && team_tournament != true">
          (#{{selected_players[0].player_id}}) {{selected_players[0].full_name}}
        </span>
        <span ng-if="selected_players.length>0 && team_tournament == true">
          {{selected_players[0].team_name}}
        </span>
        
        <span ng-if="selected_players.length==0">
          N/A
        </span>
        
      </div>
      <div class='item'>
        <span ng-if='team_tournament != true'>Player Info :</span>
        <span ng-if='team_tournament == true'>Team Info :</span>
        
        <span ng-if="queues.length == 0">
          <span>{{player_status}}</span>          
        </span>
        <span ng-if="queues.length > 0">Queued Player</span>        
      </div>      
      <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <span style='padding-top:5px;padding-bottom:5px' class="input-label">Player # : </span>            
            <input ng-if='queues.length == 0' class="embedded-input" ng-change='onPlayerIdChange()' type="tel" placeholder="enter player # here" ng-model="player.player_id">
            <input ng-if='queues.length > 0' ng-disabled='true' class="embedded-input" ng-change='onPlayerIdChange()' type="tel" ng-model="queues[0].player.player_id">            
          </label>
          <button class="button button-calm button-medium item-icon-right" ng-disabled='selected_players.length == 0 || selected_players[0].has_tokens != true || selected_players[0].on_division_machine' ng-if="queues.length == 0" ng-click='test_submit()'>
            Start
          </button>
          <button class="button button-calm button-medium" ng-if="queues.length > 0" ui-sref=".process({process_step:{process:true}, player_info:queues[0].player,from_queue:1})">
            Start
          </button>                    
      </div>                  
    </div>
<br>
<br>
<center>
<br>
<br>
<button ng-if="queues.length > 0" class="seperate_button button button-energized item-icon-right extra-tall-button" ng-click="testChange()">
        {{queues[0].player.player_name}} Is Not Here, <br>
        Move to Next Player In Queue
      </button>
</center>
<div class='player-info-avatar player-info-avatar-ex' ng-if='team_tournament != true'>
  <img  ion-img-cache ng-if='selected_players.length > 0 ' class='avatar-frame avatar-user-pic avatar-user-pic-ex' ng-src="{{http_prefix}}://{{server_ip_address}}/pics/player_{{player_img_id}}.jpg">
</div>
<div class='player-info-avatar player-info-avatar-ex' ng-if='team_tournament != true'>
  <img  ng-if='selected_players.length == 0 ' class='avatar-frame avatar-user-pic avatar-user-pic-ex'>
</div>    
  </ion-content>
</ion-view>

