<!-- Generated template for the CreateEditEntityComponent component -->
<!--<bobo>-->
<ion-header>
</ion-header>
<!--</bobo>-->


<ion-content>
  <form #createEditForm="ngForm">
    <ion-list>
      <div margin>
        <h2>{{actionType| titlecase}} {{entityFields.entityType| titlecase}}</h2>
      </div>

      <ng-container *ngFor="let entityField of entityFields.getFieldsArray()">
        <ng-container *ngIf="entityField.dependsOn==null || (entityField.dependsOn && entity[entityField.dependsOn.dependsOn]==entityField.dependsOn.value)">
        <ion-item-divider color="light" text-wrap>  {{entityField.description.long}} </ion-item-divider>
        <ng-container *ngIf="entityField.fieldType=='text'" >
          
          <ion-item>
            <ion-icon name="md-create" item-start></ion-icon>
            <ion-input [(ngModel)]="entity[entityField.fieldName]" [name]="entityField.fieldName" type="text" placeholder="input here">
            </ion-input>    
          </ion-item>
        </ng-container>
        <ng-container *ngIf="entityField.fieldType=='boolean'">          
          <ion-item>
            <ion-label>{{entityField.description.short}}</ion-label>
            <ion-toggle [(ngModel)]="entity[entityField.fieldName]" [name]="entityField.fieldName"></ion-toggle>                       
          </ion-item>
        </ng-container>
      </ng-container>        
      </ng-container>
    </ion-list>
    <button [disabled]='!createEditForm.valid' ion-button default (click)="processEntity()">Apply</button>
  </form>  
</ion-content>

