<div class="tablet-friendly-list-skinny" style='margin-left:auto;margin-right:auto'>
  <div class="item item-divider">
    User Info
  </div>
  <label class="item item-input tablet-friendly-text-input">
    <input ng-model='user_info.username' type="text" placeholder="Username">
  </label>
  <label class="item item-input tablet-friendly-text-input">
    <input ng-model='user_info.password' type="text" placeholder="Password">
  </label>
  <div class="item item-divider">
    Roles
  </div>
  <ion-checkbox class='item item-input' ng-repeat='role in resources.roles.data' ng-model='user_info.roles[role.role_id]'>{{role.name}}</ion-checkbox>
  <button ui-sref='.process({process_step:{process:true}, user_info:user_info})' class="item item-icon-right button button-full button-calm input-list-button" style='text-align:left' ng-disabled='utils.var_empty(user_info.username)'>
    <i class="icon ion-chevron-right"></i>
    <span >Apply Changes</span>
  </button>
</div>

