
.chatitem {

}

.chatitemup {

}

.chatitem.ng-enter {
    -webkit-animation: slideInLeft 1s;
    animation: slideInLeft 1s;
}

/* .chatitem.ng-leave { */
/*     -webkit-animation: fadeOut 1s; */
/*     animation: fadeOut 1s; */
/* } */

.chatitemup.ng-enter {
    -webkit-animation: slideInUp 1s;
    animation: slideInUp 1s;
}

.chatitemup.ng-exit {
    -webkit-animation: slideOutDown 1s;
    animation: slideOutDown 1s;
}

.backglass:after {
    background-image: url('http://www.planetarypinball.com/mm5/images/products/pinbotglassL.jpg');
    background-repeat: no-repeat;
    content: '';
    display: block;
    width:100px;
    height:100px;
    position: relative;
    /* //background-position: 25% 25%; */
    /* background-size: contain; */
    /* -moz-background-size: contain; */
    /* -webkit-background-size: contain; */
    top:100px;
    margin-left:auto;
    z-index:999;
}

.circular--square {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}


.flip-90{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}