<ion-view view-title="">
  <ion-content>      
    <div class="skinny-list list" >
      <!-- REMOVE ME -->
      <div class='player-select'>
        <label class="item-input item" style='z-index:199;background-color: rgba(0, 0, 0, 0.0)'>          
          <i ng-if='player.player_id=="" && queues.length == 0' class="icon ion-search placeholder-icon"></i>
          <form ng-submit='test_submit_new()'>
            <input ng-keydown='keyDown($event)' ng-change='onPlayerIdChange()' type="tel" type="tel" placeholder="Player #" ng-model="player.player_id">            
          </form>
        </label>
        <div class='item' style='z-index:199;background-color: rgba(0, 0, 0, 0.0)'>
          <div ng-if='queues.length > 0'> {{queues[0].player.player_name}}</div>
          <div ng-if="queues.length == 0" >{{selected_players[0].teams[0].team_name}} &nbsp;</div>
        </div>
      </div>
    </div>
    <div style='font-size:38px;margin-left:15%;margin-right:15%;text-align:center'>
      {{division_machine_name}}
    </div>
    
    <div ng-if='queues.length == 0' style='z-index:200' class='player-info-avatar'>
      <img src="http://www.clker.com/cliparts/Z/Z/S/Y/S/w/red-circle-cross-transparent-background-hi.png" class='avatar-frame sample-show-hide sample-show-hide-front avatar-user-pic' ng-show='selected_players.length == 0 && poop == true'>
      <img ng-show='selected_players.length == 1' class='avatar-frame sample-show-hide sample-show-hide-back avatar-user-pic' src="http://{{server_ip_address}}/pics/player_{{player_img_id}}.jpg">
      <img ng-show='selected_players.length == 0 && poop == undefined' class='avatar-frame sample-show-hide sample-show-hide-front avatar-user-pic' style='background-color:white'>
    </div>
    <div style='z-index:4' class='machine-info-avatar'>
      <img class='avatar-frame avatar-user-pic' src="http://{{server_ip_address}}/pics/machine_{{division_machine_id}}.jpg">
    </div>
    <div ng-if='queues.length > 0' style='z-index:200' class='player-info-avatar'>
    </div>
<button style='font-size:48px' ng-if="queues.length > 0" class="button button-full button-positive icon-right ion-chevron-right" ui-sref=".process({process_step:{process:true}, player_info:queues[0].player,from_queue:1})">
  Start Player On Machine
</button>
  </ion-content>
</ion-view>

