<ion-view view-title="Queues">
  <ion-content>      
    <div class="skinny-list list">
      <a  ng-if='division_machine.player_id != undefined || (division_machine.queues.length > 0)' class="item item-icon-right" ng-repeat='division_machine in resources.queues.data' ui-sref='.machine_queue({division_machine_id:division_machine.division_machine_id,division_machine_name:division_machine.division_machine_name})'>        
        <span  style='background-color:yellow;border-style:solid;border-width:1px;border-radius:15px;padding:5px;'>{{division_machine.queues.length}}</span>
        <span class='queue_span_margin'>{{division_machine.division_machine_name}}</span>
        <i class="icon ion-chevron-right"></i>
      </a>
      <button class="button button-calm button-full item-icon-right" ui-sref=".^">
        Return Home
        <i class="icon ion-chevron-right"></i>        
      </button>      
    </div>
  </ion-content>
</ion-view>

