<ion-view view-title="Queues">
  <ion-content>
    <ion-refresher
       pulling-text="Pull to refresh..."
       on-refresh="doRefresh()">
    </ion-refresher>    
    <div class="skinny-list list">
      <a class="item item-icon-left item-icon-right queue_item_padding" ng-repeat='division_machine in resources.queues.data' ng-click="choose_queue_action_or_no_action(division_machine)" >        
        <i ng-if="division_machine.player_id != undefined" class="icon ion-record queue_circle"><span ng-class='{custom_queue_item_small:division_machine.queues.length+1<10,custom_queue_item_large:division_machine.queues.length+1 > 9}'>{{division_machine.queues.length+1}}</span></i>        
        <i ng-if="division_machine.player_id == undefined && division_machine.queues.length > 0" class="icon ion-record queue_circle"><span ng-class='{custom_queue_item_small:division_machine.queues.length<10,custom_queue_item_large:division_machine.queues.length > 9}'>{{division_machine.queues.length}}</span></i>
        <i ng-if="division_machine.player_id == undefined && division_machine.queues.length == 0" class="icon ion-android-walk queue_walking"></i>

        
        <b>{{division_machine.division_machine_name}}</b> <br class='mobile-show'> <span ng-if='division_machine.avg_play_time!=undefined'> Avg Time : {{division_machine.avg_play_time}}</span>
        <i class="icon ion-chevron-right"></i>
      </a>
      <!--<a class='item queue_item_padding item-icon-left'>
        <i class="icon ion-android-walk queue_circle"></i>
        All <span ng-if='queueing_available==true'>other </span> machines are unoccupied!<br>
        Walk over to one!
      </a>-->      
    </div>
  </ion-content>
</ion-view>

