<ion-view view-title="Queues">
  <ion-content>      
    <div class="skinny-list list">
      <a ng-if="resources.divisions.data[division.division_id].queuing == true" id="scorekeeping_division_select_{{division.division_id}}_link" ng-repeat='division in resources.divisions.data' ui-sref='.machine_select({division_id:division.division_id})' class="item item-icon-right">
        <span>{{division.tournament_name}}</span>
        <i class="icon ion-chevron-right"></i>        
      </a>          
    </div>
  </ion-content>
</ion-view>

