<ion-view view-title="Record Score">
  <ion-content>
    <div class='list'>
      <div class='item'>
        <span>Machine : </span><span>{{division_machine_name}}</span>
      </div>
      <div class='item'>        
        <span ng-if='team_tournament != "true"'>
          Player : (#{{player_id}}) {{player_name}}
        </span>
        <span ng-if='team_tournament == "true"'>
          Team : (#{{team_id}}) {{team_name}}
        </span> 
      </div>      
      <div class='item'>
        Previous Best Score :
        <span ng-if='team_tournament != "true"'>
          <span ng-if='resources.player_best_score_for_machine.data!=undefined'>{{resources.player_best_score_for_machine.data|number}}</span>
          <span ng-if='resources.player_best_score_for_machine.data==undefined'> N/A </span>
        </span>
        <span ng-if='team_tournament == "true"'>
          <span ng-if='resources.team_best_score_for_machine.data!=undefined'>{{resources.team_best_score_for_machine.data|number}}</span>
          <span ng-if='resources.team_best_score_for_machine.data==undefined'> N/A </span>
        </span>
        
      </div>      
      <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <span style='padding-top:5px;padding-bottom:5px' class="input-label">Score : </span>            
            <input class="embedded-input" ng-change='onScoreChange()' type="tel" placeholder="enter score here" ng-model="score.score">
          </label>
          <button class="button button-calm button-medium" ng-disabled='utils.var_empty(score.score)' ng-click='test_submit()'>
            Review            
          </button>          
      </div>            
    </div>
    <br>
    <br>
    
    <center>
     <button  class="button button-assertive item-icon-right seperate_button" ng-click="choose_void_action()">
      Void Ticket
      <!--<i class="icon ion-chevron-right"></i>-->
     </button>
     <br>
     <button  ng-if="team_tournament==false" class="button button-assertive item-icon-right seperate_button" ui-sref=".confirm_jagoff">
       <span> (#{{player_id}}) </span> {{player_name}} is not here.
       <!--<i class="icon ion-chevron-right"></i>-->
     </button>
    </center>
    <div class='player-info-avatar player-info-avatar-ex' ng-if="team_tournament==false">
      <img class='avatar-frame avatar-user-pic avatar-user-pic-ex' src="{{http_prefix}}://{{server_ip_address}}/pics/player_{{player_id}}.jpg">
    </div>
  </ion-content>
</ion-view>

