<ion-view view-title="Review Score">
  <ion-content>      
      <center>
        <div class='standard_big_font'>
          <!--<div class='padding'><u><i class="icon ion-ios-eye padding"></i><span>Review Score</u></span></div>-->
          <button class='button button-clear button-dark icon-left ion-alert-circled ion-icon-yellow  review-icon'>
            <span><u>Review Score Before Submit</u></span>
          </button>

          <table class='warning_confirm warning_confirm_three_row_table'>
            <tr>
              <td class='padding-right' align="right">
                <span ng-if='team_tournament == true'>Team</span><span ng-if='team_tournament != true'>Player</span>: 
              </td>
              <td class='padding-left'>
                <span ng-if='team_tournament==false'>(#{{player_id}})</span> {{player_name}}
            </tr>
            <tr>
              <td class='padding-right' align="right">
                Machine : 
              </td>
              <td class='padding-left'>
                {{division_machine_name}}
              </td>
            </tr>
            <tr>
              <td class='padding-right' align="right">
                 Score : 
              </td>
              <td class='padding-left'>
                {{score}}
              </td>
            </tr>
            
          </table>
        </div>
       
          <button  class="button button-full button-calm item-icon-right seperate_button" ui-sref=".process({process_step:{process:true},confirmed_score:{'score':score}})">
            Submit Score
            <i class="icon ion-chevron-right"></i>          

          </button>    
          <button  class="button button-full button-calm seperate_button item-icon-right" ui-sref=".^">
            Re-enter score
            <i class="icon ion-chevron-right"></i>          

          </button>    
          <button  class="button button-assertive seperate_button item-icon-right" ng-click="choose_void_action(division_machine_id,'.^')">
            Void Ticket
            

          </button>    
      </center>

  </ion-content>
</ion-view>

