<div class='row'>
<div class='col'>  
  <button ui-sref='app.event.token_purchase({player:player})' class="padding button-pagraph button button-block button-positive">
    Purchase tickets
  </button>
</div>
<div class='col'>
  <button ui-sref='app.event.select_players_to_add_to_event' class="padding button-pagraph button button-block button-positive">
    Add another player
  </button>
</div>
<div class='col'>
<button ui-sref='app.event' class="padding button-pagraph button button-block button-positive">
  Home
</button>
</div>
</div>    
