<ul class="progress-indicator" ng-if="post_success==undefined">
  <li ng-repeat='step_status in [1,2,3]' ng-class="{completed:wizard_step > step_status || post_success != undefined}"> <span class="bubble"></span> Step {{step_status}}. </li>
</ul>

<div class='chatitemup' ng-if="post_success!=undefined">
  <div ui-view='post_success'>
  </div>
  <div class='row' ui-view='post_success_buttons'>
  </div>  
</div>
<div ng-if="post_success==undefined">
  <div ng-if="wizard_step==1">
    <form>
      <pss-text-input-basic field='queue_bump_amount'> </pss-text-input-basic>
      <div class='row'>
        <div class='col'>
        </div>
        <button ng-disabled='item.queue_bump_amount==undefined || item.queue_bump_amount == ""' ui-sref-opts='{reload:true}' ui-sref='app.pss_admin.edit_event_wizard({wizard_step:2,item:item,descriptions:descriptions})' class="padding button-pagraph col-50 button button-block button-positive">Next Step </button>
        <div class='col'>
        </div>    
      </div>      
    </form>
  </div>
  <div ng-if="wizard_step==2">
    <form>
      <pss-text-input-basic field='number_unused_tickets_allowed'> </pss-text-input-basic>
      <div class='row'>
        <div class='col'>
        </div>
        <button ng-disabled='item.number_unused_tickets_allowed==undefined || item.number_unused_tickets_allowed == ""' ui-sref-opts='{reload:true}' ui-sref='app.pss_admin.edit_event_wizard({wizard_step:3,item:item,descriptions:descriptions})' class="padding button-pagraph col-50 button button-block button-positive"> Next Step </button>
        <div class='col'>
        </div>    
      </div>
    </form>
    </div>
  <div ng-if="wizard_step==3">
    <form>
      <pss-text-input-basic field='player_id_seq_start'> </pss-text-input-basic>
      <div class='row'>
        <div class='col'>
        </div>
        <button ng-click='edit_event_func(item,["queue_bump_amount","number_unused_tickets_allowed","player_id_seq_start"])' ng-disabled='item.player_id_seq_start==undefined || item.player_id_seq_start == ""' ui-sref-opts='{reload:true}' type="button" class="padding button-pagraph col-50 button button-block button-positive" >Save Changes</button>
        <div class='col'>
        </div>    
      </div>
    </form>
  </div>      
</div>

