<div class='chatitemup' ng-if="post_success!=undefined">
  <div ui-view='post_success'>
  </div>
  <div class='row' ui-view='post_success_buttons'>
  </div>  
</div>
<div ng-if="post_success==undefined">
  <form name="myForm">
    <div class="card">
      <pss-boolean-input-basic field='queuing' basic='true'/>
    </div>
    <div class="card">
      <pss-text-input-basic field='manually_set_price' basic='true'/>
    </div>
    <div class="card">
      <pss-boolean-input-basic field='discount' basic='true'/>
    </div>
    <div class="card" ng-if='item.discount==true'>
      <pss-text-input-basic field='number_of_tickets_for_discount' basic='true'/>
    </div>
    <div class="card" ng-if='item.discount==true'>
      <pss-text-input-basic field='discount_price' basic='true'/>
    </div>
    <div class="card">
      <pss-boolean-input-basic field='limited_herb' basic='true'/>
    </div>
    <div class="card">
      <pss-text-input-basic field='number_of_signifigant_scores' basic='true'/>
    </div>
    
    <div class="card" ng-if='item.finals_style=="PAPA"'>
      <pss-text-input-basic field='number_of_qualifiers' basic='true'/>
    </div>
    <div class="card" ng-if='item.finals_style=="PPO"'>
      <pss-text-input-basic field='number_of_qualifiers_for_a_when_finals_style_is_ppo' basic='true'/>
    </div>
    <div class="card" ng-if='item.finals_style=="PPO"'>
      <pss-text-input-basic field='number_of_qualifiers_for_b_when_finals_style_is_ppo' basic='true'/>
    </div>
    <div class="card">      
      <div class="item item-divider">
        Event Picture
      </div>      
      <div>
        <div class='row'>
          <div class='col'>
            <input type="file" nv-file-select uploader="uploader"/><br>
          </div>
          <div class='col'>
            <ul ng-if='pic_selected==true'>
              <li ng-repeat="img_item in uploader.queue">
                Name: <span ng-bind="img_item.file.name"></span><br/>
                <button ng-click="img_item.upload()">upload</button>
              </li>
            </ul>
            <img  ng-if='pic_selected!=true && item.img_url!=undefined' src='{{item.img_url}}'  class='padding circular--square' style='height:130px;width:130px'>            
          </div>
        </div>
      </div>
      <div>
        <center>
          Upload a picture to represent this event.
        </center>
      </div>
    </div>
    <div class='row'>
      <div class='col'>
      </div>
      <button ng-click='edit_event_func(item,["queue_bump_amount","number_unused_tickets_allowed","player_id_seq_start"])' ui-sref-opts='{reload:true}' type="button" class="padding button-pagraph col-50 button button-block button-positive" > Save Changes  </button>
      <div class='col'>
      </div>    
    </div>
  </form>
</div>

