<ion-item ui-sref='{item.ui_sref}}' class='item item-icon-left' ng-repeat='item in items|filter:{$:filter_for}' ng-if='item.ui_sref!=undefined'>
  <i class='icon ion-edit'></i>
  {{item.label_to_display}}
</ion-item>
<div class='card' style='margin:0;margin-top:2px' ng-repeat='item in items|filter:{$:filter_for}' ng-if='item.actions_ui_sref_list!=undefined'>
  <div class='item item-divider item-icon-left' ng-click='toggle_view_item_actions(item)'>
    <i class='icon {{item.icon}}'></i>
    {{item.label_to_display}}
  </div>
  <div ui-sref='{{action.ui_sref}}' class="item item-icon-left" ng-if="item.display_actions==true" ng-repeat='action in item.actions_ui_sref_list'>
    <i class='icon ion-compose'></i>      
    {{action.label}}
  </div>
</div>
  
