<div>
  <form>
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="pss_user.username"/>        
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Password" ng-model="pss_user.password"/>
      </label>
</div>
<div class='row'>
  <div class='col'>
  </div>
  <input ng-click='login_func()' type="button" class="padding button-pagraph col-33 button button-block button-positive" value="Login">

  </button>
  <div class='col'>
  </div>    
</div>
</form>


