
  <div class="item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model='filter_for'>
    </label>
  </div>
  <ion-item ui-sref='.add_player_to_event' class='item item-icon-left'>      <i class='icon ion-plus-circled'></i>Add New Player To PSS</ion-item>
  <!--    <ion-item ui-sref='.create_meta_tournament' class='item item-icon-left'>      <i class='icon ion-plus-circled'></i>Create Meta Tournament</ion-item>-->
  <div class='padding'></div>
  <div ui-view='list'>
  </div>
