<ion-view view-title="Home"  hide-back-button='true' >
  <ion-content>     
    <div class="skinny-list list">
      <a id="home_manage_user_button" ui-sref='.user' class="item item-icon-left item-padding" ng-if='User.has_role("admin")'>
        <i class="icon ion-person-stalker"></i>
        <span>Manage Users</span>
      </a>
      <a ui-sref=".token" class="item item-icon-left  item-padding" ng-if='User.has_role("desk")'>
        <i class="icon ion-ios-cart"></i>
        <span>Purchase Tickets</span>
      </a>
      <a id='home_manage_players_button' ui-sref='.player' class="item item-icon-left  item-padding" ng-if='User.has_role("desk")'>
        <i class="icon ion-person-add"></i>
        <span>Add Player</span>
      </a>
      <a ui-sref='.scorekeeping' class="item item-icon-left  item-padding" ng-if='User.has_role("scorekeeper")'>
        <i class="icon ion-clipboard"></i>
        <span>Scorekeeping</span>
      </a>
      <a ui-sref='.queues({manage:false})' class="item item-icon-left  item-padding">
        <i class="icon ion-clipboard"></i>
        <span>Queues</span>
      </a>
      
       <!-- <label class="item"> -->
       <!--   <div class="input-label"> -->
       <!--     Lightsaber -->
       <!--   </div> -->
       <!--   <select style='font-size:48px'> -->
       <!--     <option >Blue</option> -->
       <!--     <option selected>Green</option> -->
       <!--     <option>Red</option> -->
       <!--   </select> -->
       <!-- </label> -->
      <!--<div class='item row' style='padding:0;font-size:24px'>
        <div style='padding-top:32px;'>Main Division : </div>
        <ion-radio ng-model="choice" ng-value="'A'">A Division</ion-radio>
        <ion-radio ng-model="choice" ng-value="'B'">B Division</ion-radio>
      </div>-->

      <!--<div class="item range">
        <i class="icon ion-volume-low"></i>
        <input ng-model='slider.value' type="range" name="volume"  min="0" max="{{slider.max}}" value="0">
        {{slider.value}}   
      </div>-->
    </div>
  </ion-content>
</ion-view>
