<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar  align-title='left' class="bar-calm">
      <ion-nav-buttons side="right">
        <!--<a class="button button-icon ion-home" href="#/{{site}}/app">
        </a>-->
        <button class="button button-icon ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
      <ion-nav-back-button>
      </ion-nav-back-button>                    
    </ion-nav-bar>
    <test id="test_element"></test>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="right">
    <ion-header-bar class="bar-positive" ng-style="menu_bar_title_style">
        <div ng-if="User.logged_in() == true">
            <img align="bottom" src="http://98.111.232.93/pics/{{User.logged_in_user().user_id}}.jpg" class="avatar-frame-small">
        </div>
      <h1  ng-if="User.logged_in() == false" class="title">
          TD 1.0
        </h1>
      <h1 ng-if="User.logged_in() == true" class="title">{{User.logged_in_user().username}}</h1>
    </ion-header-bar>
    <ion-content style='margin-top:25px'>
      <ion-list>
        <a id='login_link' class='item item-icon-right' menu-close ui-sref='.login' ng-if="User.logged_in() == false">
          <div>
            Login
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>
        <a id='logout_link' class='item item-icon-right' menu-close ui-sref='.logout' ng-if="User.logged_in() == true">
          <div>
            Logout
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>
        <a id='camera_link' class='item item-icon-right' menu-close ng-click='Camera.take_user_pic_and_upload(1)'>
          <div>
            Camera
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>
        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

