<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar  class="bar-calm">
      <ion-nav-buttons side="right">
        <!--<a class="button button-icon ion-home" href="#/{{site}}/app">
        </a>-->
        <button id="ion-navicon-id" class="button button-icon ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
      <ion-nav-back-button style='margin-top:auto;margin-bottom:auto;' ng-click="customBackButtonNav()">
      </ion-nav-back-button>                    
    </ion-nav-bar>
    <test id="test_element"></test>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="right" width='375'>
    <!--<ion-header-bar class="bar-positive" ng-style="menu_bar_title_style">-->
        <ion-header-bar class="bar-positive">
        <div ng-if="User.logged_in() == true && User.logged_in_player().is_player == false">
            <img id="side_menu_user_icon" align="bottom" src="http://{{server_ip_address}}/pics/user_{{User.logged_in_user().user_id}}.jpg?{{randomNumber}}" class="avatar-frame-small">
        </div>
        <div ng-if="User.logged_in() == true && User.logged_in_player().is_player == true">
            <img id="side_menu_user_icon" align="bottom" src="http://{{server_ip_address}}/pics/player_{{User.logged_in_user().user_id}}.jpg?{{randomNumber}}" class="avatar-frame-small">
        </div>
        
      <h1  ng-if="User.logged_in() == false" class="title">
          TD 1.0
        </h1>
      <h1 ng-if="User.logged_in() == true" class="title">{{User.logged_in_user().username}}</h1>
    </ion-header-bar>
        <ion-content>          
          <ion-list>
        <a id='home_link' class='item item-icon-right' menu-close ui-sref='app'>
          <div>
            Home
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>

        <a id='login_link' class='item item-icon-right' menu-close ui-sref='.login' ng-if="User.logged_in() == false && type_of_page == 'user'">
          <div>
            Login
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>
        <a id='login_link_player' class='item item-icon-right' menu-close ui-sref='.login_player' ng-if="User.logged_in() == false && type_of_page == 'player'">
          <div>
            Login
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>
        
        <a id='menu_tournament_link' class='item item-icon-right' menu-close ui-sref='.tournament' ng-if="User.logged_in() == true && User.has_role('admin')">
          
          <div>
            Manage Tourneys
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>
        <a id='menu_tournament_link' class='item item-icon-right' menu-close ui-sref='.user' ng-if="User.logged_in() == true && User.has_role('admin')">          
          <div>
            Manage Users
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>
        <a id='menu_tournament_link' class='item item-icon-right' menu-close ui-sref='.queues({manage:true})' ng-if="User.logged_in() == true && User.has_role('desk')">          
          <div>
            Manage Queues
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>
        <a id='menu_tournament_link' class='item item-icon-right' menu-close ui-sref='.oops' ng-if="User.logged_in() == true && User.has_role('admin')">          
          <div>
            Oops
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>        
        <a id='menu_tournament_link' class='item item-icon-right' menu-close ui-sref='.queue_view' ng-if="User.logged_in() == true && User.has_role('admin')">          
          <div>
            Queue View
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>
        <a id='menu_tournament_link' class='item item-icon-right' menu-close ui-sref='.jagoffs' ng-if="User.logged_in() == true && User.has_role('admin')">          
          <div>
            Jagoffs
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>                
        <a id='logout_link' class='item item-icon-right' menu-close ui-sref='.logout' ng-if="User.logged_in() == true">
          <div>
            Logout
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>
        <a class="item item-divider">
          &nbsp;
        </a>
        
        <a id='menu_tournament_link' class='item item-icon-right' menu-close ui-sref='.results.divisions'>          
          <div>
            Division Results
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>
        <a id='menu_tournament_link' class='item item-icon-right' menu-close ui-sref='.results.division_machines'>          
          <div>
            Machine Results
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>
        <a id='menu_tournament_link' class='item item-icon-right' menu-close ui-sref='.results.players'>          
          <div>
            Player Results
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>
        
        <!-- <a id='camera_link' class='item item-icon-right' menu-close ng-click='Camera.take_user_pic_and_upload(1)'> -->
        <!--   <div> -->
        <!--     Camera -->
        <!--   </div> -->
        <!--   <i class="icon ion-chevron-right"></i> -->
        <!-- </a> -->
        
          </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

