<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar  class="bar-calm">
      <ion-nav-buttons side="right">
        <button id="ion-navicon-id" class="button button-icon ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
      <ion-nav-back-button ng-click="customBackButtonNav()">
      </ion-nav-back-button>                    
    </ion-nav-bar>
    <test id="test_element"></test>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="right" width='menu_width' ng-if="type_of_page!='prereg'">
    <ion-header-bar class="bar-positive">
      <div ng-if="User.logged_in() == true && User.logged_in_player().is_player == false">
        <!--<img id="side_menu_user_icon" align="bottom" src="http://{{server_ip_address}}/pics/user_{{User.logged_in_user().user_id}}.jpg?{{randomNumber}}" class="avatar-frame-small">-->
      </div>
      <div ng-if="User.logged_in() == true && User.logged_in_player().is_player == true">
        <!--<img id="side_menu_user_icon" align="bottom" src="http://{{server_ip_address}}/pics/player_{{User.logged_in_user().user_id}}.jpg?{{randomNumber}}" class="avatar-frame-small">-->
      </div>

      <div style='align:center' ng-if="User.logged_in() == false" class="title">
        YAPSS 1.0
      </div>
      <center>
      <div ng-if="User.logged_in() == true && !User.has_role('player')">
        {{User.logged_in_user().username}}
      </div>
      <div ng-if="User.logged_in() == true && User.has_role('player')">
        {{User.logged_in_user().player.full_name}}
      </div>
      </center>
    </ion-header-bar>
    <ion-content>          
      <ion-list>
        <a id='menu_home_link' class='item item-icon-right' menu-close ui-sref='app'>
          <div>
            Home
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>
        <a ng-if='is_results_page() != undefined' id='menu_home_link' class='item item-icon-right' ng-click='jump_up_results()'>
          <div>
            {{is_results_page()}}
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>
        <a ng-if='is_scorekeeping_page() != undefined' id='menu_home_link' class='item item-icon-right' ng-click='jump_to_machine_list()'>
          <div>
            Machine List
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>        
        
        <a id='menu_login_link' class='item item-icon-right' menu-close ui-sref='.login' ng-if="User.logged_in() == false && type_of_page == 'user'">
          <div>
            Login
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>
        <a id='menu_player_login_link' class='item item-icon-right' menu-close ui-sref='.login_player' ng-if="User.logged_in() == false && type_of_page == 'player'">
          <div>
            Login
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>
        
        <a id='menu_manage_tournaments_link' class='item item-icon-right' menu-close ui-sref='.tournament' ng-if="User.logged_in() == true && User.has_role('admin')">
          
          <div>
            Manage Tourneys
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>
        <a id='menu_manage_users_link' class='item item-icon-right' menu-close ui-sref='.user' ng-if="User.logged_in() == true && User.has_role('admin')">          
          <div>
            Manage Users
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>
        <a id='menu_oops_link' class='item item-icon-right' menu-close ui-sref='.oops' ng-if="User.logged_in() == true && User.has_role('admin')">          
          <div>
            Oops
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>
        <a ng-if="User.logged_in() == true && User.has_role('scorekeeper')" class="item item-divider">
          &nbsp;
        </a>        
        <a id='menu_remove_player_link' class='item item-icon-right' menu-close ui-sref='app.scorekeeping.undo({division_id:state.params.division_id})' ng-if="User.logged_in() == true && User.has_role('scorekeeper') && is_scorekeeping_page() != undefined && state.params.division_id != undefined">
          <div>
            Undo
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>                
        <!-- <a id='menu_queue_view_link' class='item item-icon-right' menu-close ui-sref='.queue_view' ng-if="User.logged_in() == true && User.has_role('admin')">           -->
        <!--   <div> -->
        <!--     Queue View -->
        <!--   </div> -->
        <!--   <i class="icon ion-chevron-right"></i> -->
        <!-- </a> -->
        <a id='menu_jagoffs_link' class='item item-icon-right' menu-close ui-sref='.jagoffs' ng-if="User.logged_in() == true && User.has_role('admin')">          
          <div>
            Jagoffs
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>
        <a id='menu_finals_link' class='item item-icon-right' menu-close ui-sref='.ppo_qualifying_list' ng-if="User.logged_in() == true && User.has_role('admin')">
          <div>
            Finals
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>
        <a ng-if="User.logged_in() == true" class="item item-divider">
          &nbsp;
        </a>
        <a class='item item-icon-right' menu-close href='static/help.html' ng-if="isWebView != true" target="_new_window">
          <div>
            Help
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>
        <div class='item item-icon-right' ng-click="utils.native_open_in_browser('/static/help.html')" ng-if="isWebView == true">
          <div>
            Help
          </div>
          <i class="icon ion-chevron-right"></i>
        </div>        
        <a id='menu_logout_link' class='item item-icon-right' menu-close ui-sref='.logout' ng-if="User.logged_in() == true">
          <div>
            Logout
          </div>
          <i class="icon ion-chevron-right"></i>
        </a>        
        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

