<ion-view view-title="Finals Results">
  <ion-content>     
    <center>
      <h3>Finals Results</h3>
      <div ng-if='resources.external_url.data.disabled==false'>
      Finals results are available
        <a href='{{resources.external_url.data.url}}' ng-if="isWebView != true" target="_new_window"> here </a>        
        <a ng-click="utils.native_open_full_url_in_browser(resources.external_url.data.url)" ng-if="isWebView == true"> here </a>
        <br>
        <span ng-if="isWebView == true">(This will open in an external browser)</span>
      </div>
      <div ng-if='resources.external_url.data.disabled==true'>
        Finals have not yet started.  Patience!
      </div>
    </center>
  </ion-content>
</ion-view>
