<ion-view view-title="Add Division">
  <ion-content>      
    <div class="skinny-list list">    
      <div class="item-divider item" id='add_division_division_info_title'>
        Division Info
      </div>
      <label class="item-input item">
        <span >Name: </span>
        <input ng-model='division.division_name' type="text" placeholder="Division Name">
      </label>
      <label class="item-input item">
        <span ># of Qualifiers: </span>
        <input ng-model='division.finals_num_qualifiers' type="text" placeholder="# of Qualifiers">
      </label>
      <ion-checkbox  id="add_tournament_team_tournament_checkbox" class='item'  ng-model='division.team_tournament'>Team Tournament</ion-checkbox>      
      <ion-checkbox id="add_tournament_division_use_stripe_checkbox" class='item' ng-model='division.use_stripe'>Use Stripe</ion-checkbox>
      <label ng-if="division.use_stripe == true" class="item-input item">
        <span >Stripe SKU: </span>
        <input ng-model='division.stripe_sku' type="text" placeholder="Stripe SKU">
      </label>
      <label ng-if="division.use_stripe == false" class="item-input item">
        <span >Ticket Price: </span>
        <input ng-model='division.local_price' type="text" placeholder="Ticket Price">
      </label>
      <button id='add_tournament_add_button' ui-sref='.process({process_step:{process:true}, division_info:division})' class="item item-icon-right button button-full button-calm input-list-button" style='text-align:left' ng-disabled='disable_form_submit()'>
        <i class="icon ion-chevron-right"></i>
        <span >Add Division</span>
      </button>
    </div>
  </ion-content>
</ion-view>

