<ion-view view-title="Select Action">
  <ion-content>
    <div class="machine-select-action-spacer">
    </div>
    <div style='text-align:center'>
      {{division_machine.division_machine_name}}
    </div>
    <button class='button button-full button-calm item-icon-right' ng-click='goto_next_scorekeeping_step(division_machine_id)'>
      <span ng-if='resources.queues.machine_players[division_machine_id] != undefined'>
        Record score for {{resources.queues.machine_players[division_machine_id]}}
      </span>
      <span ng-if='resources.queues.machine_players[division_machine_id] == undefined'>
        Start player on {{resources.queues.data[division_machine_id].division_machine_name}}
      </span>
      <i class="icon ion-chevron-right"></i>      
    </button>    
    <button ng-if='resources.divisions.data[division_id].queuing == true && (resources.queues.data[division_machine_id].queues.length > 0 || resources.queues.machine_players[division_machine_id] != undefined)' class='button button-full button-calm item-icon-right' ui-sref='.^.add_player_to_queue({division_machine_id:division_machine.division_machine_id,division_machine_name:division_machine.division_machine_name})'>
      Add Player To Queue
      <i class="icon ion-chevron-right"></i>
    </button>
    <!-- ui-sref=".select_action({division_machine_id: ,})" -->
    <div class='machine-info-avatar machine-info-avatar-ex'>
      <img  ion-img-cache class='avatar-frame avatar-user-pic avatar-user-pic-ex' ng-src="{{http_prefix}}://{{server_ip_address}}/pics/machine_{{division_machine.division_machine_id}}.jpg">
    </div>

  </ion-content>
</ion-view>

