.platform-browser, .platform-android, .platform-ios {
    button.input-list-button {
        margin-top:0px;
        margin-bottom:0px;
    }
}


.platform-browser, .platform-android, .platform-ios {
    label.tablet-friendly-text-input{
        @media screen and (max-width: 610px){
            @media screen and (max-height: 750px) and (min-height: 561px){
                 height:42px;
                 padding-top:60px;
                 padding-bottom:20px;
                input {
                    font-size: 24px;
                    //font-size: 99px;
                     line-height: 82px;
                     height:82px;
                }
            }
            @media screen and (max-height: 560px) {
                input {
                    font-size: 42px;
                    line-height: 42px;
                    height:82px;
                }                
            }            
            @media screen and (min-height: 751px){
                //height:42px;
                //padding-top:80px;
                //padding-bottom:20px;
                input {
                    font-size: 42px;
                    line-height: 42px;
                    height:82px;
                }                
            }
        }
        @media screen and (max-width: 970px) and (min-width:611px) {
         //   height:42px;
         //   padding-top:80px;
         //   padding-bottom:20px;
            input {
                font-size: 42px;
                line-height: 42px;
                height:82px;
            }                            
        }
        @media screen and (min-width: 971px) {
            padding-top:20px;
            padding-bottom:20px;
            input {
                font-size: 42px;
            }            
        }        
    }
}
.platform-android, .platform-ios, .platform-browser {
    .item-checkbox {
        @media screen and (max-width: 610px){
            @media screen and (max-height: 750px) and (min-height: 561){
                font-size:24px;
                div.item-content{
                    margin-top:15px;
                    margin-left:15px;
                }                
            }
            @media screen and (max-height: 560px){
                div.item-content{
                    margin-top:15px;
                    margin-left:15px;
                }                
                font-size:48px;
            }
            @media screen and (min-height: 751px){
                div.item-content{
                    margin-top:15px;
                    margin-left:15px;
                }
                font-size:48px;            
            }
        }
        @media screen and (max-width: 970px) and (min-width:611px) {
            div.item-content{
                margin-top:15px;
                margin-left:15px;
            }            
            font-size:48px;
        }
        @media screen and (min-width: 971px) {
            font-size:48px;
            div.item-content{
                margin-top:15px;
                margin-left:15px;
            }                        
        }    
    }
}

.platform-browser,.platform-ios {
    .checkbox-icon::after{
        width:28px;
        height:12px;
    }
    
    .checkbox-icon::before{
        width:38px;
        height:38px;
    }
}

.platform-android {

    .checkbox-icon::after{
        padding-left:35px;
        padding-bottom:0px;
        width:15px;
        height:13px;
    }
    
    .checkbox-icon::before{
        width:38px;
        height:38px;
    }
}

