//for titlebar action buttons
.bar .button.button-icon:before{
             //text-align:top;           
             //vertical-align: top;
             font-size: 48px;
             //line-height: 48px;
      }

.avatar-frame{border: 2px solid #c7b89e;}
.avatar-frame,.avatar-frame img{
	width: 50px;
	height: 50px;
	-webkit-border-radius: 30px; /* Saf3+, Chrome */
	border-radius: 30px; /* Opera 10.5, IE 9 */
	/*-moz-border-radius: 30px;  Disabled for FF1+ */
	}

.avatar-frame-small,.avatar-frame img{
	width: 40px;
	height: 40px;
	-webkit-border-radius: 30px; /* Saf3+, Chrome */
	border-radius: 30px; /* Opera 10.5, IE 9 */
	/*-moz-border-radius: 30px;  Disabled for FF1+ */
	}
