div.icon-label{
    margin-bottom:15px;
    div:first-child {
        font-weight: bold;
        @media screen and (max-width: 610px) {    
            font-size: 42px;
        }
        @media screen and (max-width: 970px) and (min-width:611px) {
            font-size: 42px;
        }
        @media screen and (min-width: 971px) {
            font-size: 42px;
        }
        div:first-child {
            margin-right:15px;
            margin-left:auto;
        }
        div:last-child {
            margin-top:auto;
            margin-bottom:auto;
            margin-right:auto;
        }        
    }
    div:nth-child(2) {
        div {
            font-weight: normal;
            font-size:32px;
            margin-top:10px;        
            margin-left:auto;
            margin-right:auto;
        }
    }
}