ion-side-menu {
    ion-content.has-header {
        ion-list {
            a.item {
                div {
                    @media screen and (max-width: 610px){
                        padding-top:30px;
                        padding-bottom:30px;
                        font-size:24px;
                    }
                    @media screen and (max-width: 970px) and (min-width:611px) {
                        padding-top:30px;
                        padding-bottom:30px;
                        font-size:44px;                        
                    }
                    @media screen and (min-width: 971px) {
                        padding-top:30px;
                        padding-bottom:30px;
                        font-size:44px;                                                
                    }                    
                }
            }
        }
    }
}

.platform-android,.platform-ios,.platform-browser {
    ion-side-menu {
        ion-header-bar.bar { 
            .title {
                font-size:34px;
            }
        }
    }
}

side-menu-first-list-item {
    margin-top:40px;
}
