ion-side-menu {
    ion-content.has-header {
        ion-list {
            a.item {
                div {
                    padding-top:30px;
                    padding-bottom:30px;
                    font-size:44px;
                }
            }
        }
    }
}


ion-side-menu{
    ion-content {
        div {
            ion-list{
                div.list{
                    //margin-top:35px;
                }
            }
        }
    }
}

.platform-android,.platform-ios,.platform-browser {
    ion-side-menu {
        ion-header-bar.bar {
            height:100px;
            .title {
                font-size:34px;
            }
            //height:80px;
        }
    }
}

.apple-bar {
    height:100px;
}

side-menu-first-list-item {
    margin-top:40px;
}
