.platform-android, .platform-browser, .platform-ios {
    ion-header-bar.bar-header {
        height:62px;
        div.title {
           height: 62px;
            @media screen and (max-width: 610px){
                //                @media screen and (max-height: 800px) and (min-height: 561){
                    @media screen and (max-height: 750px) and (min-height: 561){
                    font-weight: bold;
                    font-size: 34px;
                }
                @media screen and (max-height: 560px){
                    //font-weight: bold;
                    font-size: 52px;
                    padding-top:5px;
                }                
                //                @media screen and (min-height: 801px){
                @media screen and (min-height: 751px){                    
                    //font-weight: bold;
                    font-size: 52px;
                    padding-top:5px;
                }                
            }
            @media screen and (min-width:611px) {
                //height: 62px;
                font-size: 52px;
                padding-top:5px;
            }
        }
        .button.button-icon::before {
            @media screen and (max-width: 610px){
                @media screen and (max-height: 800px){       
                    font-size:72px;
                }
                @media screen and (min-height: 801px){
                    font-size:92px;
                }                
            }
            @media screen and (max-width: 970px) and (min-width:611px) {
                font-size:92px;
            }
            @media screen and (min-width: 971px) {
                font-size:92px;
            }
            

        }
    }
}

.platform-android {
    ion-header-bar.bar-header {
        div.title {
            padding-top:10px;
        }
    }
}

.platform-browser, .platform-android {
    div.scroll {
        padding-top:15px;
    }    
}

.platform-ios {
    div.scroll {
        padding-top:0px;
    }    
}

