<ion-header >
  <ion-navbar color="pss-header">
    <custom-headers [homePageDisplayName]="getHomePageDisplayString()" [title]="eventName" [eventId]="eventId" [eventName]="eventName" [homePage]="getHomePageString()"></custom-headers>
  </ion-navbar>    
</ion-header>

<ion-content>
 <ion-toolbar color="pss-sub-header" text-center>
   <b>Purchase Tickets</b>
 </ion-toolbar>

  <div class='desktopSlim'>
  <ion-auto-complete *ngIf='hideSearchbar!=true' (keyup)="onKeyUp($event)"  name="myautocomplete" [(ngModel)]="selectedPlayer" #searchbar (autoFocus)="clearValues()" (itemSelected)="onAutoCompletePlayerSelected($event)" [dataProvider]="autoCompleteProvider" [options]="{ placeholder : 'Enter Player Name/ID', debounce:500}"></ion-auto-complete>
  <div text-center margin-bottom [style.height]="'25px'">
    <ion-spinner *ngIf='loading==true' style='margin-bottom:7px'></ion-spinner>
  </div>
  <div [style.color]="'red'" *ngIf="notFoundMessage!=null" padding margin text-center>
    <h2>{{notFoundMessage}}</h2>
  </div>

  <ng-container *ngIf="notFoundMessage==null && selectedPlayer!=null">   
    <ion-item no-lines>
    <ion-avatar  style='zoom:3.0'>
      <img [src]="selectedPlayer.img_url!=null?selectedPlayer.img_url:'/assets/imgs/pinball_small_machine_square.jpg'" style='margin-left:auto;margin-right:auto'>
    </ion-avatar>
    </ion-item>
    <form #myForm="ngForm">

    <ion-item text-center>
      Player Name : {{selectedPlayer.player_full_name}}
    </ion-item>
    
    <ng-container *ngFor="let ticketPriceList of ticketPriceLists">
      <ion-item color="darker">
      {{ticketPriceList.tournament_name}} Existing Count : {{ticketCountsDict[ticketPriceList.tournament_id]==null?0:ticketCountsDict[ticketPriceList.tournament_id].count}}
      </ion-item>
      <ion-item tappable>
        <ion-label>{{ticketPriceList.tournament_name}}</ion-label>
        <ion-select  [name]="ticketPriceList.tournament_name" [(ngModel)]="ticketPriceList.selectedCount" [selectOptions]="{title:'poop'}" (ionChange)="onSelect($event)">
          <ion-option *ngFor="let calculatedPrice of ticketPriceList.calculated_price_list" [value]="calculatedPrice">{{calculatedPrice.amount}}</ion-option>
        </ion-select>
      </ion-item>
    </ng-container>
    <ion-item *ngIf="eventAuth.getRoleName(this.eventId)=='tournamentdirector'">
      <ion-label>Comped</ion-label>
      <ion-toggle name="myComped" [(ngModel)]="comped"></ion-toggle>
    </ion-item>
    <ion-item>
      Total Cost : {{totalCost}}
    </ion-item>
    <ion-item no-lines text-center>
      <button padding [disabled]="!myForm.dirty" ion-button (tap)="ticketPurchase()"> Purchase Tickets </button>
    </ion-item>
    </form>
    
  </ng-container>
  </div>
</ion-content>
