<ion-content>
  <ion-searchbar *ngIf='hideSearchbar!=true'
     [(ngModel)]="player_id_for_event"
     (ionInput)="onInput($event)">
  </ion-searchbar>
  <ng-container *ngIf="eventPlayer.first_name!=null ">
    <ion-item text-center>
      Player Name : {{eventPlayer.player_full_name}}
    </ion-item>
    <ion-item *ngIf="eventPlayer.img_url!=null">
    <ion-avatar  style='zoom:3.0'>
      <img [src]="eventPlayer.img_url" style='margin-left:auto;margin-right:auto'>
    </ion-avatar>
    </ion-item>
    <form #myForm="ngForm">
    
    <ng-container *ngFor="let ticketPriceList of ticketPriceLists">
      <ion-item no-lines>
        Existing Count : {{ticketCounts[ticketPriceList.tournament_id]==null?0:ticketCounts[ticketPriceList.tournament_id].count}}
      </ion-item>
      <ion-item>
        <ion-label>{{ticketPriceList.tournament_name}}</ion-label>
        <ion-select [name]="ticketPriceList.tournament_name" [(ngModel)]="ticketPriceList.selectedCount" [selectOptions]="{title:'poop'}" (ionChange)="onSelect($event)">
          <ion-option *ngFor="let calculatedPrice of ticketPriceList.calculated_price_list" [value]="calculatedPrice">{{calculatedPrice.amount}}</ion-option>
        </ion-select>
      </ion-item>
    </ng-container>
    <ion-item>
      Total Cost : {{totalCost}}
    </ion-item>
    <ion-item no-lines text-center>
      <button padding [disabled]="!myForm.dirty" ion-button (click)="ticketPurchase()"> Purchase Tickets </button>
    </ion-item>
    </form>
    
  </ng-container>
</ion-content>
