<ion-content>
<div>
  <div class="card">
    <div class="item item-divider">
      Step 4 : Upload Player Picture 
    </div>
    <div class="item item-text-wrap">
      In this step, you must upload a picture of yourself. <span style='background-color:red'>&nbsp;It must be a picture of your face from the neck up.&nbsp;</span><br><br>
      This will be used by scorekeepers and deskworkers to identify you.<br><br>
      <!-- For more information on why, see <a ng-if='is_native == false' href="/td/static/prereg-photos.html" target="_new_window"> this.</a> <a ng-if='is_native == true' ng-click='utils.native_open_in_browser("/td/static/prereg-photos.html")'> this.</a><br><br> -->
      <div>
        Please use the "Choose Files" button to select a photo (or on a phone, take a picture), and then click the "Upload" button. <br><br>
        <form name="upload" class="form" data-ng-submit="addFile()">
          <input type="file" name="file" multiple 
                 onchange="angular.element(this).scope().uploadedFile(this)"
                 />
          <br>
          <br>
          <button type="submit"><span ng-if='uploaded_pic_name != undefined'>{{Re}}</span>Upload</button>
          <br>
          <br>
        </form>        
      </div>
      <div ng-if='uploaded_pic_name != undefined'>
        The picture displayed above is what will be used.  If you like this picture, please click the "Next" button.  If you do not like this picture, please select and upload another picture.  
      </div>
      <button style='float:left;margin-bottom:25px;margin-top:25px' ui-sref='.^' class='button button-calm'> Back </button>

      <button style='float:right;margin-bottom:25px;margin-top:25px;' ui-sref='.confirm({uploaded_file_name:uploaded_pic_name})' ng-disabled="uploaded_pic_name == undefined" class='button button-calm'> Next </button>
              <br><br>
    </div>
  </div>
</div>
<div ng-if='uploaded_pic_name != undefined' class='player-info-avatar' style='height:250px'>
  <img class='avatar-frame avatar-user-pic' src="http://{{server_ip_address}}/prereg-pics/{{uploaded_pic_name}}">
</div>
</ion-content>
