<!--
  Generated template for the PlayerInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
  -->

<ion-header>
  <ion-navbar>
    <custom-headers [homePageDisplayName]="getHomePageDisplayString()" [title]="eventName" [eventId]="eventId" [eventName]="eventName" [homePage]="getHomePageString()"></custom-headers>
  </ion-navbar>    
</ion-header>

<ion-content>
<button style='margin-top:0px;' ion-button full small color="darker">
  Player Info
</button>
  <div class='desktopSlim'>  
  <ion-auto-complete (keyup)="onKeyUp($event)"  name="myautocomplete" [(ngModel)]="selectedPlayer" #searchbar (autoFocus)="onFocus()" (ionAutoInput)="onInput($event)" (itemsShown)="onItemsShown()" (itemSelected)="onAutoCompletePlayerSelected($event)" [dataProvider]="autoCompleteProvider" [options]="{ placeholder : 'Enter Player Name/ID', debounce:500}"></ion-auto-complete>
  <div text-center margin-bottom [style.height]="'25px'">
    <ion-spinner *ngIf='loading==true' style='margin-bottom:7px'></ion-spinner>
  </div>
  <!--
      Player name
      player event number
      player pic
      
      Available Tickets
      - tournament/metatournament name : count
      
      Results (when they are available)

    -->
  <div [style.color]="'red'" *ngIf="notFoundMessage!=null" padding margin text-center>
    <h2>{{notFoundMessage}}</h2>
  </div>
  <ion-list *ngIf="notFoundMessage==null && selectedPlayer!=null">
    <ion-item no-lines *ngIf="selectedPlayer.img_url!=null">
      <ion-avatar  style='zoom:3.0'>
        <img [src]="selectedPlayer.img_url" style='margin-left:auto;margin-right:auto'>
      </ion-avatar>
    </ion-item>
    <ion-item-divider text-center color="light">
      Player Name
    </ion-item-divider>
    <ion-item no-lines text-center>
      {{selectedPlayer.player_full_name}}
    </ion-item>
    <ion-item-divider text-center color="light">
      Player Number
    </ion-item-divider>
    <ion-item text-center no-lines>
      {{selectedPlayer.player_id_for_event}}
    </ion-item>
    <ion-item-divider text-center color="light">
      Available Tickets
    </ion-item-divider>
    <ion-item no-lines text-center *ngFor="let ticketCount of ticketCounts">
      {{ticketCount.tournament_name}} : {{ticketCount.count}}
    </ion-item>
  </ion-list>
    <div class='desktopSlim'>
</ion-content>
