<ion-view view-title="Round {{round_idx}}" hide-back-button="true">
  <ion-content>
    <div style='padding-top:0px'>
      <button ng-click="setDivisionFinalRoundComplete(resources.finals.data[division_final_id].division_final_rounds[round_idx])" ng-if="check_round_ready_to_be_completed(round_idx)" class='button button-energized button-full item-icon-right'>
        Complete Round
        <i class="icon ion-chevron-right"></i>
                  
      </button>
      
      <div ng-repeat="division_final_match in resources.finals.data[division_final_id].division_final_rounds[round_idx].division_final_matches|orderBy:'division_final_match_id'" class="list card">
        <div  ui-sref='app.finals_scorekeeper.division_final.round_{{round_idx}}.match_details({division_final_match_id:division_final_match.division_final_match_id,division_final_match_idx:$index,round_idx:round_idx})' class="item item-divider item-icon-left item-icon-right">
          Match {{$index+1}} <span ng-if="division_final_match.completed == true">(COMPLETED)</span>
          <i class="icon ion-checkmark-circled ion-icon-green" ng-if="division_final_match.completed == true"></i>
          <i class="icon" ng-if="division_final_match.completed == false"></i>
          <i class="icon ion-chevron-right"></i>
      
        </div>
        <div ng-repeat="finals_match_player_result in division_final_match.finals_match_player_results|orderBy:'-winner'" class="item item-icon-left">
          <span ng-if="finals_match_player_result.finals_player.player != undefined">{{finals_match_player_result.finals_player.player.full_name}}
            {{finals_match_player_result.finals_player.overall_rank}}
            </span>
          </span>
          <span ng-if="finals_match_player_result.finals_player.player == undefined">Pending</span>
          <i class="icon ion-trophy" ng-if="finals_match_player_result.winner == true"></i>
        </div>
        <div ng-if='check_match_ready_to_be_completed(division_final_match)' ng-click="setDivisionFinalMatchComplete(division_final_match)" class="item item-divider item-icon-right item-icon-left item-energized">
         <i class="icon"></i>          
 
          <span> Complete Match </span>
          <i class="icon ion-disc"></i>          
        </div>
      </div>
    </div>
    <br>
    <br>
</ion-view>
</ion-content>
