<ion-view view-title="Take Picture">
  <ion-content>      
    <div class="skinny-list list">
      <div class="item-divider item" id='add_user_user_info_title'>
        {{player_info.first_name}} {{player_info.last_name}}
      </div>
      <a ng-if='isWebView == true' class="item item-icon-right item-calm" style='text-align:left' ng-click='take_pic_and_upload("player",player_info,site,player_info.player_id)'>
        <i class="icon ion-camera"></i>
        <span >Take Picture</span>
      </a>      
      <button ng-disabled="player_info.pic_file == undefined" id='edit_player_edit_button' ui-sref='.process({process_step:{process:true}, player_id:player_id,pic_file:player_info.pic_file})' class="item-icon-right button button-full button-calm input-list-button seperate_button" style='text-align:left'>
        <i class="icon ion-chevron-right"></i>
        <span >Apply Changes</span>
      </button>
    </div>
    <div ng-if='player_info.pic_file != undefined' class='player-info-avatar' style='height:250px'>
      <img class='avatar-frame avatar-user-pic' src="http://{{server_ip_address}}/pics/{{player_info.pic_file}}">
    </div>

  </ion-content>
</ion-view>

