<div class='chatitemup' ng-if="post_success!=undefined">
  <div ui-view='post_success'>
  </div>
  <div ui-view='post_success_buttons'>
  </div>  
</div>
<div ng-if="post_success==undefined">
  <div class="item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model='filter_for'>
    </label>
  </div>

  <div class='padding'> </div>
  <div class='row'>
    <div class='col'>
    </div>
    <button ng-click='add_machine_func()' type="button" class="padding button-pagraph col-50 button button-block button-positive" > Add Machines  </button>
    <div class='col'>
    </div>    
  </div>
  
  <div class='padding'> </div>
  <button style='margin:5px' class='button button-small' ng-repeat='item in items|filter:{checked:true}'> {{item.machine_name}} </button>
  <div class='padding'> </div>  
 
  <ion-list>
    <ion-checkbox ng-repeat='item in items|machineSearch:filter_for|limitTo:45 as count' ng-model="item.checked">{{item.machine_name}}</ion-checkbox>
    <ion-item ng-if='count.length > 44 && filter_for.length > 0'> More than 45 machines not being shown ...</ion-item>
    <ion-item ng-if='count.length > 44 && (filter_for.length == undefined || filter_for.length == 0)'> {{items.length}} machines not being shown </ion-item>

  </ion-list>

  <!--<div class='row'>
    <div class='col'>
    </div>
    <button ng-click='edit_event_func(item,["queue_bump_amount","number_unused_tickets_allowed","player_id_seq_start"])' ui-sref-opts='{reload:true}' type="button" class="padding button-pagraph col-50 button button-block button-positive" > Save Changes  </button>
    <div class='col'>
    </div>    
  </div>-->
</div>

