md-checkbox.md-checkbox-large {
    .md-icon {
        transform: scale(3);
        -webkit-transform: scale(3);
    }
    
    .md-label {
        margin-left: 60px;
        margin-right: 20px;      
    }
}
md-input-container label{
  font-size:24px;      
}

md-input-container input.md-input{
  font-size:34px;
  height: 48px;
}


