<!--
  Generated template for the TournamentMachinesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>TournamentMachines</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #myform novalidate>
    <ion-auto-complete name="myautocomplete" [(ngModel)]="selectedMachine" (autoFocus)="onFocus()" (itemSelected)="onSelect()" #searchbar [dataProvider]="autoCompleteProvider"></ion-auto-complete>
  </form>
  <br>
  <ion-list [sliding]="sliding" #list>
      <ion-item-sliding *ngFor="let machine of selectedMachines">
        <ion-item *ngIf="machine.removed!=true">
          <ion-icon [name]="machine.active==true? 'play' : 'pause'" ></ion-icon>
          <button hideWhen='mobile' (click)="onRemove(machine)" ion-button item-end>Remove</button> {{machine.tournament_machine_name}}
          <button hideWhen='mobile' (click)="onDisable(machine)" ion-button item-end>{{machine.active==true?"Disable":"Enable"}}</button> 
        </ion-item>
        <ion-item-options *ngIf="machine.removed!=true" side="right">
          <button round ion-button color="danger">
            <ion-icon name="archive"></ion-icon>
            Remove
          </button>
          <button round ion-button>
            <ion-icon name="archive"></ion-icon>
            {{machine.active==true?"Disable":"Enable"}}
          </button>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>
</ion-content>
