<ion-view view-title="Tickets Purchased" hide-back-button="true">
  <ion-content>    
      <center>
        <div class='standard_big_font'>
          <button class='button button-clear button-dark icon-left ion-cash ion-icon-green review-icon' >            
              <span><u>Purchased!</u></span>
          </button>
          <table>
            <tr ng-repeat='(division_id,token_count) in token_info.addedTokens.divisions'>
              <td class='padding-right' align="right">
                {{resources.divisions.data[division_id].tournament_name}} : 
              </td>
              <td class='padding-left'>
                {{token_count[0]}}
              </td>
            </tr>
            <tr ng-repeat='(division_id,token_count) in token_info.addedTokens.teams'>
              <td class='padding-right' align="right">
                {{resources.divisions.data[division_id].tournament_name}} : 
              </td>
              <td class='padding-left'>
                {{token_count[0]}}
              </td>
            </tr>
            <tr ng-repeat='(metadivision_id,token_count) in token_info.addedTokens.metadivisions'>
              <td class='padding-right' align="right">
                {{resources.divisions.data.metadivisions[metadivision_id].meta_division_name}} : 
              </td>
              <td class='padding-left'>
                {{token_count[0]}}
              </td>
            </tr>
            <tr style='border-style:solid;border-width:0;border-top-width:1px;'>
              <td class='padding-right' align='right'>
                Total Cost : 
              </td>
              <td class='padding-left'>
                ${{token_info.total_cost}}
              </td>
            </tr>            
          </table>
          <br>
          <button id='HomeButton' class='button button-full button-calm item-icon-right seperate_button' ui-sref='app'>
            <span>Home</span>
            <i class="icon ion-chevron-right"></i>          
          </button>
        </div>

      </center>

  </ion-content>
</ion-view>

