<ion-view view-title="">
  <ion-content>      
    <div class="list" >
      <!-- REMOVE ME -->
      <div class='player-select'>
        <label class="item-input item">
          <i class="icon ion-search placeholder-icon"></i>
          <form ng-submit='test_submit_new()'>
            <input ng-if='queues.length == 0' ng-keydown='keyDown($event)' ng-change='onPlayerIdChange()' type="tel" placeholder="Player #" ng-model="player.player_id">
            <input ng-if='queues.length > 0'  ng-disabled='true' type="tel" placeholder="Player #" ng-model="queues[0].player.player_id">
          </form>
        </label>
        <div class='item'>
          <div ng-if='queues.length ==0'>&nbsp;{{selected_players[0].team_name}}</div>
          <div ng-if='queues.length > 0' >{{queues[0].player.player_name}}</div>          
        </div>
      </div>
      <div style='text-align:center' class='standard-big-font'>
        {{division_machine_name}}
      </div>
    </div>
      <button ng-disabled='selected_players.length == 0' ng-click='test_submit_new()' class='button button-full button-calm item-icon-right seperate_button'>
        Select Team
        <i class="icon ion-chevron-right"></i>          
      </button>
    
<!--    <div style='z-index:4' class='machine-info-avatar'>
      <img class='avatar-frame avatar-user-pic' src="{{http_prefix}}://{{server_ip_address}}/pics/machine_{{division_machine_id}}.jpg">
    </div>-->


  </ion-content>
</ion-view>

