<!-- Generated template for the CustomHeaderComponent component -->
<ion-navbar showWhen='mobile' class='fakeIos'>  
    <ion-title class='fakeIosTitle'>
      {{title}}
    </ion-title>    
</ion-navbar>
<ion-navbar hideWhen='mobile'>
  <ion-title>Pss</ion-title>
  <ion-buttons end hideWhen='mobile'>    
    <button icon-only ion-button [navPush]="'LoginPage'" [navParams]="{eventId:eventId,eventName:eventName}" >Login</button>
    <button icon-only ion-button>Results</button>
    <button icon-only ion-button>Queues</button>
    <button *ngIf="eventAuth.getRoleName(eventId)" icon-only ion-button (click)="menuNav(getRolePage())">{{eventAuth.getRoleName(eventId)}}</button>
  </ion-buttons>
</ion-navbar>

