<!--
  Generated template for the TournamentDirectorHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
  -->
<!--<bobo>-->
<ion-header>
<ion-navbar>  
    <ion-title showWhen='mobile'>
      {{title}}
    </ion-title>    
  <ion-title hideWhen='mobile'>Pss</ion-title>
  <ion-buttons end hideWhen='mobile'>
    <button icon-only ion-button [navPush]="eventAuth.isEventUserLoggedIn(eventId)? 'LogoutPage' : 'LoginPage'" [navParams]="buildNavParams({})" >{{eventAuth.isEventUserLoggedIn(eventId)? "Logout" : "Login"}}</button>
    <button icon-only ion-button [navPush]="'EventSelectPage'">Switch Events</button>    
    <button [navPush]="'ResultsPage'" icon-only ion-button>Results</button>
    <button icon-only ion-button>Queues</button>
    <button *ngIf="eventAuth.getRoleName(eventId)" icon-only ion-button [navPush]="getHomePageString()" [navParams]="buildNavParams({})">{{eventAuth.getRoleName(eventId)}}</button>
  </ion-buttons>
</ion-navbar>
</ion-header>
<!--</bobo>-->












<ion-content padding>
  <button margin ion-button [navPush]="'CreateTournamentPage'" [navParams]="buildNavParams({actionType:'create'})" >Create Tournament</button>

  <ion-list>
    <ng-container *ngFor="let tournament of tournaments">
    <ion-list-header>
      <h1>{{tournament.tournament_name}}</h1>
    </ion-list-header>
    <ion-item>
      <ion-icon item-start></ion-icon>
      <button ion-button [navPush]="'TournamentMachinesPage'" [navParams]="buildNavParams({tournamentId:tournament.tournament_id})">Add Machines To Tournament</button>
      <br>
      <button ion-button >Edit Tournament</button>
      <br>
      <button ion-button ><ion-icon item-start [name]="tournament.active?'play':'pause'"></ion-icon>Toggle Tournament</button>      
    </ion-item>    
    </ng-container>
  </ion-list>
  
</ion-content>
