<ion-header>
 <ion-navbar>
  <custom-headers [homePageDisplayName]="getHomePageDisplayString()" title="TD Homepage" [eventId]="eventId" [eventName]="eventName" [homePage]="getHomePageString()"></custom-headers>
 </ion-navbar>

  <!-- <ion-toolbar text-center> -->
  <!--   Cleaveland Pinball Show 2018   -->
  <!-- </ion-toolbar> -->
  
</ion-header>

<simple-notifications  [options]="{position:['top','right']}"></simple-notifications>


<ion-content padding>

  <div class='desktopSlim' >
  <h1><b>Tournament Operations</b></h1>
  <ion-list>
    <ion-item no-lines [navPush]="'TicketPurchasePage'" [navParams]="buildNavParams({})">
      <ion-icon item-end name="ios-cash-outline"></ion-icon> Ticket Purchase
    </ion-item>
    <ion-item no-lines [navPush]="'AddPlayerPage'" [navParams]="buildNavParams({})">
      <ion-icon item-end name="ios-add-circle-outline"></ion-icon> Add Player
    </ion-item>
    <ion-item hideWhen='mobile' no-lines [navPush]="'QueueSelectPlayerTournamentMachinePage'" [navParams]="buildNavParams({})">
      <ion-icon item-end name="git-branch"></ion-icon> Queue Player
    </ion-item>
    <ion-item no-lines [navPush]="'ChangePlayerPicturePage'" [navParams]="buildNavParams({})">
      <ion-icon item-end name="camera"></ion-icon> Take Player Picture
    </ion-item>    
    <ion-item no-lines [navPush]="'PlayerInfoPage'" [navParams]="buildNavParams({})">
      <ion-icon item-end name="person"></ion-icon> Player Info
    </ion-item>    
    <ion-item no-lines [navPush]="'ScorekeeperTournamentSelectPage'" [navParams]="buildNavParams({})">
      <ion-icon item-end name="clipboard"></ion-icon> Scorekeeping
    </ion-item>    
    
  </ion-list>
  <h1><b>TD Operations</b></h1>
    <ion-list>
    <ion-item no-lines [navPush]="'AddUserPage'" [navParams]="buildNavParams({})">
      <ion-icon item-end name="person-add"></ion-icon>  Add User
    </ion-item>
    <ion-item no-lines [navPush]="'EditUserPage'" [navParams]="buildNavParams({})">
      <ion-icon item-end name="create"></ion-icon>  Edit User
    </ion-item>
    <ion-item no-lines [navPush]="'TournamentPage'" [navParams]="buildNavParams({actionType:'create','wizardMode':true})">
      <ion-icon item-end name="ios-add-circle-outline"></ion-icon> Create Tournament 

      <!--<button item-start ion-button [navPush]="'CreateEventPage'" [navParams]="buildNavParams({actionType:'create','wizardMode':true})" >Create Event</button>-->
    </ion-item>    
  </ion-list>  

  <!--  <button ion-button [navPush]="'CreateTournamentPage'" [navParams]="{entityType:'tournament',actionType:'create',targetEventId:1,eventName:'poop'}" >Create Tournament</button> -->
  <h1><b>Tournaments</b></h1>
  <ion-list>
    <ng-container *ngFor="let tournament of tournaments">
      <ion-item-divider (tap)="expand(tournament)">
        <ion-avatar item-start *ngIf="tournament.img_url!=null">
          <img [src]="tournament.img_url">
        </ion-avatar>        
        <h1>{{tournament.tournament_name}}</h1><ion-icon item-end [name]="tournament.expanded==false?'ios-arrow-dropdown':'ios-arrow-dropup'"></ion-icon>
      </ion-item-divider>      
      <ng-container *ngIf="tournament.expanded!=true?false:true">
        <ion-item>
          <button tappable ion-button [navPush]="'TournamentMachinesPage'" [navParams]="buildNavParams({tournamentId:tournament.tournament_id, eventId:tournament.event_id})">Manage Tournament Machines</button>
          <br>
            <button tappable [navPush]="'TournamentPage'" [navParams]="buildNavParams({tournamentId:tournament.tournament_id, eventId:tournament.event_id, actionType:'edit'})" ion-button >Edit Tournament</button>
          <br>
          <button ion-button (tap)="onTournamentToggle(eventId,tournament)"><ion-icon item-start [name]="tournament.active?'play':'pause'"></ion-icon>Toggle Tournament</button>
        </ion-item>
      </ng-container>      
    </ng-container>
  </ion-list>
  </div>
</ion-content>


